/*--------------
    city_img
---------------*/
.city_img {
  width: 100%;
  height: 450px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  @media only screen and (max-width: 759px) {
    .city_img {
      height: 300px; } }
  @media only screen and (max-width: 319px) {
    .city_img {
      height: 200px; } }

/*--------------
    search_form
---------------*/
.ui.segment.search_form {
  margin-top: 0px; }
  .ui.segment.search_form .secondary .ui.checkbox {
    position: absolute;
    right: 5px; }
  .ui.segment.search_form .ui.secondary.segment {
    padding-bottom: 9px;
    padding-top: 9px;
    cursor: pointer; }
  .ui.segment.search_form .row.hidden_content {
    margin-top: 0px;
    padding-top: 0px; }
    .ui.segment.search_form .row.hidden_content .column {
      padding: 1rem; }

/*--------------
    search_button
---------------*/
.ui.grid.search_button .submit_button {
  position: absolute;
  right: 1rem; }

.ui.grid.search_button .serveice_num_p {
  padding-bottom: 10px; }

/*--------------
    search_profile
---------------*/
#profile_content {
  margin-bottom: 0rem; }
  #profile_content .profile_map {
    height: 300px;
    display: block;
    width: 100%;
    background-color: #242731;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    #profile_content .profile_map:hover:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 300px;
      background-color: rgba(0, 0, 0, 0.3); }
  #profile_content .ui.segment {
    border: 0px; }
    #profile_content .ui.segment span {
      color: rgba(0, 0, 0, 0.6);
      margin: 0.5em 0em 0.5em;
      font-size: 0.9em; }
  #profile_content .ui.segment.padding {
    padding: 0px; }
  #profile_content .segment.segment_profile {
    margin-top: 0rem;
    padding-top: 0rem;
    margin-bottom: 0rem; }
  #profile_content .ui.image.image_avatar {
    position: absolute;
    width: 60px;
    padding: 2px;
    border: 2px;
    background-color: #fff;
    margin-top: -29px; }
  #profile_content .profile_info {
    position: relative;
    top: 0px;
    padding-left: 67px;
    line-height: 30px; }
    #profile_content .profile_info .row {
      margin-left: -66px; }
    #profile_content .profile_info .content p {
      color: rgba(0, 0, 0, 0.68);
      font-size: 1em; }
  #profile_content .ellipsis_vertical {
    position: absolute;
    right: 0.3rem;
    top: 6px; }
  #profile_content .more_profile_info {
    position: absolute;
    width: 100%;
    height: 0px;
    left: 0px;
    bottom: 0px;
    background-color: #fff;
    overflow: hidden; }
    #profile_content .more_profile_info .ui.segment {
      height: 100%;
      overflow-y: auto;
      margin-top: 0; }
      #profile_content .more_profile_info .ui.segment .ui.header:first-child {
        margin-top: 0.3rem; }
    #profile_content .more_profile_info .more_profile_info_remove {
      position: absolute;
      right: 1rem;
      top: 1.2rem; }

.ui.grid.more_loaders {
  margin-top: 0px;
  padding-bottom: 20px; }
  .ui.grid.more_loaders .ui.segment.more_loader {
    width: 100%;
    cursor: pointer; }

.search_profile .ui.table tr td {
  border-top: 0px solid rgba(34, 36, 38, 0.1);
  padding: 0.3em 0.4em; }
