static/
*.pyc
.idea/*
media/*
reismann/specific_settings_private.py
reismann/images/*
frontend/node_modules
frontend/npm-debug.log
zheng_settings.py
db.sqlite3
yongjie_settings.py
yin_settings.py
reismann/local_settings.py
.DS_Store
2016/
