{% load i18n %}
{% load thumbnail %}


<form class="ui form" action="{% url 'profiles:more_profile' profile.user.username %}" method="post">
  {% csrf_token %}
  {{ more_form.non_field_errors }}
  {{ contactForm.non_field_errors }}

  <div class="two fields">
    <div class="field">
      {{ more_form.country_of_birth.errors }}
      <label>{{ more_form.country_of_birth.label }}</label>
      {{ more_form.country_of_birth }}
    </div>

    <div class="field">
      {{ more_form.marrittal_status.errors }}
      <label>{{ more_form.marrittal_status.label }}</label>
      {{ more_form.marrittal_status }}
    </div>
  </div>

  <div class="two fields">
    <div class="field">
      {{ more_form.children.errors }}
      <label>{{ more_form.children.label }}</label>
      {{ more_form.children }}
    </div>

    <div class="field">
      {{ more_form.ethnicity.errors }}
      <label>{{ more_form.ethnicity.label }}</label>
      {{ more_form.ethnicity }}
    </div>
  </div>

  <div class="two fields">
    <div class="field">
      {{ more_form.religion.errors }}
      <label>{{ more_form.religion.label }}</label>
      {{ more_form.religion }}
    </div>

    <div class="field">
      {{ more_form.education.errors }}
      <label>{{ more_form.education.label }}</label>
      {{ more_form.education }}
    </div>
  </div>

  <div class="two fields">
    <div class="field">
      {{ more_form.annual_income.errors }}
      <label>{{ more_form.annual_income.label }}</label>
      {{ more_form.annual_income }}
    </div>

    <div class="field">
      {{ more_form.immigration_status.errors }}
      <label>{{ more_form.immigration_status.label }}</label>
      {{ more_form.immigration_status }}
    </div>
  </div>

  <div class="two fields">
    <div class="field">
      {{ more_form.body_form.errors }}
      <label>{{ more_form.body_form.label }}</label>
      {{ more_form.body_form }}
    </div>

    <div class="field">
      {{ more_form.smoking.errors }}
      <label>{{ more_form.smoking.label }}</label>
      {{ more_form.smoking }}
    </div>
  </div>

  <div class="two fields">
    <div class="field">
      {{ more_form.drinking.errors }}
      <label>{{ more_form.drinking.label }}</label>
      {{ more_form.drinking }}
    </div>

    <div class="field">
      {{ more_form.pets.errors }}
      <label>{{ more_form.pets.label }}</label>
      {{ more_form.pets }}
    </div>
  </div>

  <div class="two fields">
    <div class="field">
      {{ more_form.hobby.errors }}
      <label>{{ more_form.hobby.label }}</label>
      {{ more_form.hobby }}
    </div>
  </div>
  <div class="field">
    {{ more_form.most_cheerful.errors }}
    <label>{{ more_form.most_cheerful.label }}</label>
    <div class="ui icon input">
      {{ more_form.most_cheerful }}
    </div>
  </div>

  {{ more_form.good_at.errors }}
  <div class="field">
    <label>{{ more_form.good_at.label }}</label>
    <div class="ui icon input">
      {{ more_form.good_at }}
    </div>
  </div>

  {{ more_form.friends_description.errors }}
  <div class="field">
    <label>{{ more_form.friends_description.label }}</label>
    <div class="ui icon input">
      {{ more_form.friends_description }}
    </div>
  </div>

  {{ more_form.must_have.errors }}
  <div class="field">
    <label>{{ more_form.must_have.label }}</label>
    <div class="ui icon input">
      {{ more_form.must_have }}
    </div>
  </div>

  {{ more_form.favourite_things.errors }}
  <div class="field">
    <label>{{ more_form.favourite_things.label }}</label>
    <div class="ui icon input">
      {{ more_form.favourite_things }}
    </div>
  </div>

  {{ more_form.crazy_thing_done.errors }}
  <div class="field">
    <label>{{ more_form.crazy_thing_done.label }}</label>
    <div class="ui icon input">
      {{ more_form.crazy_thing_done }}
    </div>
  </div>

  {{ more_form.normal_do_weekend.errors }}
  <div class="field">
    <label>{{ more_form.normal_do_weekend.label }}</label>
    <div class="ui icon input">
      {{ more_form.normal_do_weekend }}
    </div>
  </div>


  <br>
  <button class="fluid ui primary button" type="submit" style="margin-bottom:10px;">{% trans 'Save changes' %}</button>
  <a href="{% url 'profiles:detail' profile.user.username %}" class="fluid ui red button">{% trans 'Cancel' %}</a>
  <div class="ui error message">
  </div>
</form>