{% load i18n %}

<div class="ui center aligned header new_profile_h2">{% trans 'New providers' %}</div>
<div class="ui three column stackable doubling grid container profile_content">
  {% for profile in newcomer_profiles %}
    <div class="column">
    	<div class="ui segment padding">
	      <a href="{% url 'profiles:profile' profile.user.username %}" class="profile_map" style="background-image: url('{{ profile.get_card_image_url }}');"></a>
	      <a href="{% url 'profiles:profile' profile.user.username %}" class="ui tiny circular image">
		      <img  src="{{ profile.get_avatar_url }}" alt="User Avatar">
				</a>
				<div class="ui segment">
					<div class="row"> 
						<div class="ui header">{{ profile.get_full_name_or_username }} {{ profile.short_description }}</div>
						<a href="#">{{ profile.location.get_full_location }}</a>
					</div>
					<div class="ui red header average_price">€ {{ profile.average_price }} average price</div>
					<div class="row content">
						<p>{{ profile.bio }}</p>
					</div>
				</div>
    	</div>
    </div>
  {% endfor %}
</div>



