{% load i18n %}

<table class="ui very basic selectable table">
  <tbody>
    {% for notification in notifications %}
      <tr class="{% if notification.unread %}negative{% else %}read_opacity{% endif %}">
        <td>
          <div class="ui checkbox">
            <input type="checkbox" name="checkbox_select" value="{{ notification.id }}">
            <label> </label>
          </div>
          {% if notification.action_object_content_type == content_type.1 %}
            <a href="{% url 'profiles:bookings' profile.user.username %}">{{notification.actor}} {{ notification.verb}}</a>
          {% elif notification.action_object_content_type == content_type.2 %}
            <a href="{% url 'profiles:followers' profile.user.username %}">{{notification.actor}} {{ notification.verb}}</a>
          {% elif notification.action_object_content_type == content_type.3 %}
            <a href="{% url 'profiles:album' profile.user.username %}">your {{ notification.verb}}</a>
          {% elif notification.action_object_content_type == content_type.4 %}
            <a href="{% url 'profiles:dashboard' profile.user.username %}">your {{ notification.verb}}</a>
          {% else %}
            {{ notification.verb}}
          {% endif %}
          <span class="not_show_on_mobile" style="position:absolute;right:0px;">{{ notification.timestamp | date:"Y-m-d" }}<span>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<div style="text-align:center;">
{% with notifications as topics %}
  {% include 'profiles/__paginator_button.html' %}
{% endwith %}
</div>
