{% load i18n %}

<h2 class="ui center aligned header popular_profile_h2">{% trans 'Popular providers' %}</h2>
<div class="ui three column stackable doubling grid container" id="profile_content">
  {% for profile in popular_profiles %}
    <div class="column">
    	<div class="ui segment padding">
	      	<a href="{% url 'profiles:profile' profile.user.username %}" class="profile_map" style="background-image: url('{{ profile.get_card_image_url }}');">
	      	</a>
			<div class="ui segment segment_profile">
		      	<a href="{% url 'profiles:profile' profile.user.username %}" class="ui image image_avatar background_img" style="background-image:url('{{ profile.get_avatar_url }}')">
				</a>
				<div class="profile_info">
					<b>{{ profile.user.username }}</b> {{ profile.get_gender_display }}/{{ profile.age }} {{ profile.location.get_full_location }}
					<div class="row">
						<span>{{ profile.short_description }}</span>
					</div>
					<div class="row content">
						{% for service in profile.user.service.all %}
			                <a target="_blank" href="{% url 'profiles:profile' profile.user.username %}?service_id={{ service.id }}" class="ui green label">{{ service.category }}</a>
			            {% endfor %}
					</div>
				</div>
				<div class="ellipsis_vertical"><i class="icon link ellipsis vertical"></i></div>
			</div>

			<div class="more_profile_info">
				<div class="ui segment">
					<h3 class="ui header">
						{{ profile.user.username }}
					</h3>
					<div class="more_profile_info_remove"><i class="icon large grey link remove"></i></div>
					{{ profile.bio | safe }}
				</div>
			</div>
    	</div>
    </div>
  {% endfor %}
</div>



