{% load i18n %}

<h2 class="ui center aligned header popular_profile_h2">{% trans 'Popular providers' %}</h2>
<div class="ui three column stackable doubling grid container profile_content">
  {% for profile in popular_profiles %}
    <div class="column">
    	<div class="ui segment padding">
	      <a href="{% url 'profiles:profile' profile.user.username %}" class="profile_map" style="background-image: url('{{ profile.get_card_image_url }}');">
	      </a>
	      <a href="{% url 'profiles:profile' profile.user.username %}" class="ui tiny circular image">
		      <img  src="{{ profile.get_avatar_url }}" alt="User Avatar">
				</a>
				<div class="ui segment">
					<div class="row">
                        {% if profile.settings.show_full_name == True %}
						<div class="ui header">{{ profile.get_full_name_or_username }} {{ profile.short_description }}</div>
                        {% else %}
                        <div class="ui header">{{ profile.get_short_name_or_username }} {{ profile.short_description }}</div>
                        {% endif %}
						<span>{{ profile.location.get_full_location }}</span>
					</div>
					<div class="ui red header average_price">€ {{ profile.average_price }}</div>
					<div class="row content">
						<p>{{ profile.bio | slice:"250" }}{% if profile.bio|length > 250 %}...{% endif %}</p>
					</div>
				</div>
    	</div>
    </div>
  {% endfor %}
</div>



