{% load i18n %}

{% if request.user.is_authenticated %}
  {% if view_own_profile %}
    <a href="{% url 'profiles:detail' profile.user.username %}" class="ui brand_blue fluid button" style="margin-bottom:0.3rem;"><b>{% trans 'Edit profile' %}</b></a>
    <a href="{% url 'profiles:profile' profile.user.username %}" class="ui brand_blue fluid button"><b>{% trans 'View profile' %}</b></a>
  {% else %}
    <a href="{% url 'profiles:follow' request.user.username profile.user.username %}" class="ui brand_blue fluid button" style="margin-bottom:0.3rem;"><b>{% trans 'Follow me' %}</b></a>
    <a href="{% url 'profiles:message_write' request.user.username profile.user.username %}" class="ui brand_blue fluid button" style="margin-bottom:0.3rem;"><b>{% trans 'Write a message' %}</b></a>
    {% with services.first as provider_service %}
    {% if profile.settings.is_provider %}
    <a href="{% url 'profiles:booking_add' profile.user.username provider_service.id %}" class="ui brand_blue fluid button"><b>{% trans 'Book provider' %}</b></a>
    {% endif %}
    {% endwith %}
	{% endif %}
{% else %}
    <a class="ui brand_blue fluid button not_login" style="margin-bottom:0.3rem;"><b>{% trans 'Follow me' %}</b></a>
    <a class="ui brand_blue fluid button not_login" style="margin-bottom:0.3rem;"><b>{% trans 'Write a message' %}</b></a>
    <a class="ui brand_blue fluid button not_login"><b>{% trans 'Book provider' %}</b></a>
{% endif %}
