{% load i18n %}

<div class="ui segment">
  <div class="ui grid">
    <div class="six wide mobile four wide tablet four wide computer column">
      <img style="box-shadow: #333333 1px 1px 20px 0;" class="ui centered small image" src="{{ profile.get_avatar_url }}" alt="{% trans 'user profile picture' %}">
    </div>
    <div class="ten wide mobile eight wide tablet eight wide computer column">
      <h3 style="color: #555555;font-weight: 300;">{{ profile.user.username }}{% if profile.get_gender_display%}, {{ profile.get_gender_display|default:"" }}{% endif %}{% if profile.age %}/{{ profile.age}}{% endif %}</h3>
      <div class="sub header" style="margin-top:-1rem;">{% if profile.location %}{{ profile.location }}{% endif %}{% if profile.country%}, {{ profile.country}}{% endif %}</div>
      <div style="border-color: #888888;border-bottom-width: 0px;margin-top: 0.5rem;
    margin-bottom: 0rem;" class="ui black divider"></div>
      <table class="ui very basic unstackable compact table" style="margin: 0.5rem 0;">
        <tbody>
          <tr>
            <td class="grey_and_bold">{% trans 'profession:' %}</td>
            <td>{% if profile.get_profession_display%}{{ profile.get_profession_display|default:"" }}{% endif %}</td>
            <td class="grey_and_bold">{% trans 'language:' %}</td>
            <td colspan="3">
            {% for language in profile.languages.all %}
              <div class="ui green label">{{ language.name }}</div>
            {% endfor %}
            </td>
          </tr>
          <tr>
            <td class="grey_and_bold" style="border:0px;">{% trans 'tag:' %}</td>
            <td style="border:0px;" colspan="3">
              {% for tag in profile.tags.all %}
                <div class="ui red label">{{ tag.name }}</div>
              {% endfor %}
            </td>
          </tr>
          <tr>
            <td class="grey_and_bold" style="border:0px;">{% trans 'signature:' %}</td>
            <td style="border:0px;" colspan="3">{{ profile.short_description }}</td>
          </tr>
        </tbody>
      </table>
      {% include "profiles/__profile_button.html" %}
    </div>
    <div class="four wide column tablet_more only">
      {% include "profiles/__share_box.html" %}
    </div>
  </div>
</div>