{% load i18n %}

<div class="ui segment profile_info">
  <div class="ui secondary blue inverted segment">
    <div class="ui  grid">
      <div class="four wide column">
        <img class="ui  circular left floated image" src="{{ profile.get_avatar_url }}" alt="{% trans 'user profile picture' %}">
      </div>
      <div class="eleven wide column middle aligned h_content">
        <h2>Nickname</h2>
        {% if profile.settings.show_real_name %}
        <h5>{{ profile.get_full_name_or_username }}</h5>
        {% endif %}
        <h5>{{ profile.short_description }}</h5>
        <h5>{{ profile.gender }},{{ profile.profession }},{{ profile.location }},{{ profile.location }}</h5>
      </div>
      <div class="one wide column">
        {% if profile.settings.is_provider %}
          <a class="ui large blue right ribbon label">Provider</a>
        {% else %}
          <a class="ui large blue right ribbon label">Customer</a>
        {% endif %}
      </div>
    </div>
    <div>
    </div>
  </div>
<!--   <div class="ui divided items">
    <div class="item">
      <div class="content">
        <b>{% trans 'Age' %}</b>
        {% if profile.age %}
          <span class="right_absolute">{{ profile.age }} {% trans 'Years old' %}</span>
        {% else %}
          <span class="right_absolute">{% trans 'unknown' %}</span>
        {% endif %}
      </div>
    </div>
    <div class="item">
      <div class="content">
        <b>{% trans 'Location' %}</b>
        {% if profile.location %}
          <span class="right_absolute">{{ profile.location.get_full_location }}</span>
        {% else %}
          <span class="right_absolute">{% trans 'unknown' %}</span>
        {% endif %}
      </div>
    </div>

    {% if view_own_profile %}
    <div class="item">
      <div class="content">
        <b>{% trans 'Profile is active:' %}</b>
        {% if profile.settings.profile_is_active %}
            <span class="right_absolute"><a class="ui green label">{% trans 'yes' %}</a></span>
         {% else %}
            <span class="right_absolute"><a class="ui red label">{% trans 'no' %}</a></span>
         {% endif %}
      </div>
    </div>

     <div class="item">
      <div class="content">
        <b>{% trans 'You are provider:' %}</b>
        {% if profile.settings.is_provider %}
            <span class="right_absolute"><a class="ui green label">{% trans 'yes' %}</a></span>
         {% else %}
            <span class="right_absolute"><a class="ui red label">{% trans 'no' %}</a></span>
         {% endif %}
      </div>
    </div>
    {% endif %}

    <div class="item">
      <div class="content">
        {% if request.user.is_authenticated %}
          {% if view_own_profile %}
            <a href="{% url 'profiles:detail' profile.user.username %}" class="ui brand_blue fluid button" style="margin-bottom:0.4rem;"><b>{% trans 'Edit profile' %}</b></a>
            <a href="{% url 'profiles:profile' profile.user.username %}" class="ui brand_blue fluid button"><b>{% trans 'View profile' %}</b></a>
          {% else %}
            <a href="{% url 'profiles:follow' request.user.username profile.user.username %}" class="ui brand_blue fluid button" style="margin-bottom:0.4rem;"><b>{% trans 'Follow me' %}</b></a>
            <a href="{% url 'profiles:message_write' request.user.username profile.user.username %}" class="ui brand_blue fluid button" style="margin-bottom:0.4rem;"><b>{% trans 'Write a message' %}</b></a>
            {% if provider_service.id %}
            <a href="{% url 'profiles:booking_add' profile.user.username provider_service.id %}" class="ui brand_blue fluid button"><b>{% trans 'Book provider' %}</b></a>
            {% endif %}
            {% endif %}
        {% else %}
            <a href="" class="ui brand_blue fluid button disabled" style="margin-bottom:0.4rem;"><b>{% trans 'Follow me' %}</b></a>
            <a href="" class="ui brand_blue fluid button disabled" style="margin-bottom:0.4rem;"><b>{% trans 'Write a message' %}</b></a>
            <a href="" class="ui brand_blue fluid button disabled"><b>{% trans 'Book provider' %}</b></a>
        {% endif %}
      </div>
    </div>
  </div> -->
</div>
