{% load i18n %}

<div class="box box-widget widget-user-2">

  <div class="widget-user-header bg-light-blue">
    <div class="widget-user-image">
      <img src="{{ profile.get_avatar_url }}" alt="{% trans 'user profile picture' %}" class="img-circle">
    </div>
    <h3 class="widget-user-username">{{ profile.get_full_name_or_username }}</h3>
    <h5 class="widget-user-desc">{% trans 'experienced tour guide' %}</h5>
  </div>

  <div class="box-body no-padding">
    <ul class="nav nav-stacked">
      <li>
        <b>{% trans 'Age' %}</b>
        {% if profile.age %}
          <span class="pull-right">{{ profile.age }} {% trans 'Years old' %}</span>
        {% else %}
          <span class="pull-right">{% trans 'unknown' %}</span>
        {% endif %}
      </li>
      <li>
        <b>{% trans 'Location' %}</b>
        {% if profile.location %}
          <a href="#" class="pull-right">{{ profile.location.get_full_location }}</a>
        {% else %}
          <span class="pull-right">{% trans 'unknown' %}</span>
        {% endif %}
      </li>

    </ul>

  </div>

  <div class="box-footer">
    {% if view_own_profile %}
      <a href="{% url 'profiles:detail' profile.user.username %}" class="btn btn-primary btn-block"><b>{% trans 'Edit profile' %}</b></a>
    {% else %}
      <a href="#" class="btn btn-primary btn-block"><b>{% trans 'Follow me' %}</b></a>
    {% endif %}
  </div>

</div>