{% load i18n %}

<div class="all_buttons">
{% if request.user.is_authenticated %}
  {% if view_own_profile %}
  {% else %}
    <a class="ui brand_blue button send_message" data-username="{{ profile.user.username }}"><i class="icon mail outline"></i>{% trans 'messages' %}</a>
    {% if service %}
      {% if profile.settings.is_provider %}
      <a href="{% url 'profiles:booking_add' profile.user.username service.id %}" class="ui brand button"><i class="icon heart"></i>{% trans 'booking' %}</a>
      {% endif %}
    {% else %}
      {% with services.first as provider_service %}
      {% if profile.settings.is_provider %}
        {% if provider_service %}
          <a href="{% url 'profiles:booking_add' profile.user.username provider_service.id %}" class="ui brand button"><i class="icon heart"></i>{% trans 'booking' %}</a>
        {% endif %}
      {% endif %}
      {% endwith %}
    {% endif %}
    <div class="ui dropdown floating icon grey basic button">
      <span style="color:#000;">{% trans 'more fun' %}</span>
      <i class="dropdown icon"></i>
      <div class="menu">
        {% if follows %}
          <a class="item" href="{% url 'profiles:unfollow' request.user.username profile.user.username %}"><i class="minus icon"></i>{% trans 'unfollow' %}</a>
        {% else %}
          <a class="item" href="{% url 'profiles:follow' request.user.username profile.user.username %}"><i class="plus icon"></i>{% trans 'follow' %}</a>
        {% endif %}
        <a class="item"><i class="ban icon"></i>{% trans 'shielding' %}</a>
        <a class="item"><i class="announcement icon"></i>{% trans 'inform' %}</a>
      </div>
    </div>
  {% endif %}
{% else %}
  <a class="ui brand_blue button not_login"><i class="icon mail outline"></i>{% trans 'messages' %}</a>
  <a class="ui brand button not_login"><i class="icon heart"></i>{% trans 'booking' %}</a>
  <a class="ui button not_login" style="color:#000;"><i class="icon list"></i>{% trans 'more fun' %}</a>
{% endif %}
</div>

{% if request.user.is_authenticated %}
<div class="ui small test modal message_modal">
  <i class="icon grey close" style="right:1rem;top:1rem;position:absolute;"></i>
  <div class="header">
    发消息
  </div>
  
  <div class="content">
    <p><span style="color:#999;">收件人：</span>{{ profile.user.username }}</p>
    <form class="ui form message-content" action="" method="post" style="margin:10px auto;">
      {% include "insite_messages/__message_part_form.html" %}
    </form>
  </div>
  <div class="actions">
    <div class="ui submit brand button">免费发送</div>
  </div>
</div>

<div class="ui small test modal second_modal">  
  <div class="content">
    <p>发送成功</p>
  </div>
  <div class="actions">
    <div class="ui cancel brand button">关闭</div>
  </div>
</div>
{% else %}
<div class="ui small long test modal register_modal">
  <i class="icon grey close" style="right:1rem;top:1rem;position:absolute;"></i>
  <div class="header">
    创建账号
  </div>
  
  <div class="content">
    <form class="ui form register-content" action="" method="post" style="max-width:360px;margin:10px auto;">
      {% include "accounts/__register_form.html" %}
    </form>
  </div>
  <div class="actions">
    <span>已有账号？立即<a href="{% url 'accounts:login' %}">登录</a></span>
    <div class="ui submit brand button">免费注册</div>
  </div>
</div>
{% endif %}