{% load i18n %}

<div class="box box-primary square">

  <div class="box-header with-border">
    <h3 class="box-title">{% trans 'Edit profile' %}</h3>
  </div>

  <div class="box-body box-profile">

    <form id="profile_edit_form" action="" enctype="multipart/form-data" method="post">

      {% csrf_token %}

      {{ form.non_field_errors }}

      {{ form.last_name.errors }}
      <div class="form-group has-feedback">
        <label>{{ form.last_name.label }}</label>
        {{ form.last_name }}
      </div>

      {{ form.first_name.errors }}
      <div class="form-group has-feedback">
        <label>{{ form.first_name.label }}</label>
        {{ form.first_name }}
      </div>

      {{ form.gender.errors }}
      <div class="form-group">
        <label>{{ form.gender.label }}</label>
        {{ form.gender }}
      </div>

      {{ form.avatar.errors }}
      <div class="form-group">
        <label>{{ form.avatar.label }}</label>
        {{ form.avatar }}
      </div>

      {{ form.birthday.errors }}
      <div class="form-group">
        <label>{{ form.birthday.label }}</label>
        <div class="input-group date">
          {{ form.birthday }}
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
      </div>

      {{ form.location.errors }}
      <div class="form-group">
        <label>{{ form.location.label }}</label>
        {{ form.location }}
      </div>

      {{ form.short_description.errors }}
      <div class="form-group">
        <label>{{ form.short_description.label }}</label>
        {{ form.short_description }}
      </div>

      {{ form.card_image.errors }}
      <div class="form-group">
        <label>{{ form.card_image.label }}</label>
        {{ form.card_image }}
      </div>

      {{ form.bio.errors }}
      <div class="form-group">
        <label>{{ form.bio.label }}</label>
        {{ form.bio }}
      </div>

      <button type="submit" class="btn btn-primary btn-block btn-flat">{% trans 'Save changes' %}</button>
      <a href="{% url 'profiles:detail' profile.user.username %}" class="btn btn-danger btn-block btn-flat">{% trans 'Cancel' %}</a>

    </form>

  </div>
</div>