{% load i18n %}

<div class="ui segment profile_info">
  <div class="ui blue inverted segment">
    <img class="ui tiny circular left floated image" src="{{ profile.get_avatar_url }}" alt="{% trans 'user profile picture' %}">
    <div>
      <h3>{{ profile.get_full_name_or_username }}</h3>
      <h5  style="margin-top:0px;">{{ profile.short_description }}</h5>
    </div>
  </div>
  <div class="ui divided items">
    <div class="item">
      <b>{% trans 'Age' %}</b>
      {% if profile.age %}
        <span class="right_absolute">{{ profile.age }} {% trans 'Years old' %}</span>
      {% else %}
        <span class="right_absolute">{% trans 'unknown' %}</span>
      {% endif %}
    </div>
    <div class="item">
      <b>{% trans 'Location' %}</b>
      {% if profile.location %}
        <a href="#" class="right_absolute">{{ profile.location.get_full_location }}</a>
      {% else %}
        <span class="right_absolute">{% trans 'unknown' %}</span>
      {% endif %}
    </div>
    <div class="item">
      {% if request.user.is_authenticated %}
        {% if view_own_profile %}
          <a href="{% url 'profiles:detail' profile.user.username %}" class="ui primary right floated button"><b>{% trans 'Edit profile' %}</b></a>
          <a href="{% url 'profiles:contact' profile.user.username %}" class="ui primary right floated button"><b>{% trans 'Edit contacts' %}</b></a>
        {% else %}
          <a href="{% url 'profiles:follow' request.user.username profile.user.username %}" class="ui primary right floated fluid button"><b>{% trans 'Follow me' %}</b></a>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
