{% load i18n %}

<div class="all_buttons">
{% if request.user.is_authenticated %}
  {% if view_own_profile %}
  {% else %}
    {% if shielded %}
      <a class="ui brand_blue button send_message disabled" data-username="{{ profile.user.username }}"><i class="icon mail outline"></i>{% trans 'messages' %}</a>
    {% else %}
      <a class="ui brand_blue button send_message" data-username="{{ profile.user.username }}"><i class="icon mail outline"></i>{% trans 'messages' %}</a>
    {% endif %}
    {% if service %}
      {% if profile.settings.is_provider %}
      <a href="{% url 'profiles:booking_add' profile.user.username service.id %}" class="ui brand button"><i class="icon shop"></i>{% trans 'booking' %}</a>
      {% endif %}
    {% else %}
      {% with services.first as provider_service %}
      {% if profile.settings.is_provider %}
        {% if provider_service %}
          <a href="{% url 'profiles:booking_add' profile.user.username provider_service.id %}" class="ui brand button"><i class="icon shop"></i>{% trans 'booking' %}</a>
        {% endif %}
      {% endif %}
      {% endwith %}
    {% endif %}
    <div class="ui dropdown floating icon grey basic button">
      <span style="color:#000;">{% trans 'more fun' %}</span>
      <i class="dropdown icon"></i>
      <div class="menu">
        {% if follows %}
          <a class="item" href="{% url 'profiles:unfollow' request.user.username profile.user.username %}"><i class="remove user icon"></i>{% trans 'unfollow' %}</a>
        {% else %}
          <a class="item" href="{% url 'profiles:follow' request.user.username profile.user.username %}"><i class="add user icon"></i>{% trans 'follow' %}</a>
        {% endif %}
        {% if shielding %}
          <a class="item" href="{% url 'profiles:unshield' request.user.username profile.user.username %}"><i class="ban icon"></i>{% trans 'unshield' %}</a>
        {% else %}
          <a class="item" href="{% url 'profiles:shield' request.user.username profile.user.username %}"><i class="ban icon"></i>{% trans 'shielding' %}</a>
        {% endif %}
        <a class="item"><i class="announcement icon"></i>{% trans 'inform' %}</a>
      </div>
    </div>
  {% endif %}
{% else %}
  <a class="ui brand_blue button not_login"><i class="icon mail outline"></i>{% trans 'messages' %}</a>
  <a class="ui brand button not_login"><i class="icon shop"></i>{% trans 'booking' %}</a>
  <a class="ui button not_login" style="color:#000;"><i class="icon list"></i>{% trans 'more fun' %}</a>
{% endif %}
</div>
