{% load i18n %}

<div class="ui blue padded segment profile_form">
  <h3 class="ui center aligned header">{% trans 'Edit profile' %}</h3>
  <form class="ui form" action="" enctype="multipart/form-data" method="post">
    <br>
    {% csrf_token %}
    
    {{ form.non_field_errors }}
    {{ form.first_name.errors }}
    <div class="required field">
      <label>{{ form.first_name.label }}</label>
      <div class="ui icon input">
        {{ form.first_name }}
      </div>
    </div>
    {{ form.last_name.errors }}
    <div class="required field">
      <label>{{ form.last_name.label }}</label>
      <div class="ui icon input">
        {{ form.last_name }}
      </div>
    </div>
    {{ form.gender.errors }}
    <div class="required field">
        <label>{{ form.gender.label }}</label>
        {{ form.gender }}
    </div>
    {{ form.birthday.errors }}
    <div class="required field">
      <label>{{ form.birthday.label }}</label>
      <div class="ui icon input">
          {{ form.birthday }}
          <i class="calendar icon"></i>
      </div>
    </div>
    {{ form.location.errors }}
    <div class="required field">
      <label>{{ form.location.label }}</label>
      {{ form.location }}
    </div>
    {{ form.profession.errors }}
    <div class="required field">
        <label>{{ form.profession.label }}</label>
        {{ form.profession }}
    </div>
    {{ form.short_description.errors }}
    <div class="field">
      <label>{{ form.short_description.label }}</label>
      <div class="ui icon input">
        {{ form.short_description }}
      </div>
    </div>
    {{ form.avatar.errors }}
    <div class="field">
      <label>{{ form.avatar.label }}</label>
      <div class="ui checkbox">
        {{ form.avatar }}
      </div>
    </div>
    {{ form.card_image.errors }}
    <div class="field">
      <label>{{ form.card_image.label }}</label>
      <div class="ui checkbox">
        {{ form.card_image }}
      </div>
    </div>
    {{ form.bio.errors }}
    <div class="required field">
      <label>{{ form.bio.label }}</label>
      {{ form.bio }}
    </div>

    {{ contactForm.email.error }}
    <div class="required field">
        <label>{{ contactForm.email.label }}</label>
        {{ contactForm.email }}
    </div>

    {{ contactForm.phone.error }}
    <div class="required field">
        <label>{{ contactForm.phone.label }}</label>
        {{ contactForm.phone }}
    </div>

    {{ contactForm.wechat.error }}
    <div class="required field">
        <label>{{ contactForm.wechat.label }}</label>
        {{ contactForm.wechat }}
    </div>

    {{ contactForm.qq.error }}
    <div class="field">
        <label>{{ contactForm.qq.label }}</label>
        {{ contactForm.qq}}
    </div>

    {{ contactForm.weibo.error }}
    <div class="field">
        <label>{{ contactForm.weibo.label }}</label>
        {{ contactForm.weibo }}
    </div>

    <br>
    <button class="fluid ui primary button" type="submit" style="margin-bottom:10px;">{% trans 'Save changes' %}</button>
    <a href="{% url 'profiles:detail' profile.user.username %}" class="fluid ui red button">{% trans 'Cancel' %}</a>
    <div class="ui error message">
    </div>
  </form>
</div>
