{% load i18n %}

<div class="ui segment">
    <h4>{% trans 'Rating and comments:' %}</h4>
      {% for service in services %}
            {% for rating in service.service_rating.all %}
            <div class="comment">
              <a class="avatar">
                <img src="{{ rating.user.profile.get_avatar_url }}">
              </a>
              <div class="content">
                {% if request.user.username %}
                    <a class="author">{% trans 'User' %} {{ rating.user.username }}</a>
                {% else %}
                    <a class="author">{% trans 'Anonymous user' %}</a>
                {% endif %}
                <div class="metadata">
                  <span class="date">{% trans 'Created at: ' %}{{ rating.created_at }}</span>
                </div>
                {{ rating.gen_stars }}
                <div class="text">{{ rating.comment }}</div>
              </div>
            </div>
            {% endfor %}
      {% endfor %}
</div>
