{% load i18n %}

<div class="ui padded segment">
  <h3 style="color: #555555;font-weight: 300;">{% trans 'Rating and comments:' %}</h3>
  <div class="ui comments">
    {% for service in services %}
      {% for rating in service.service_rating.all %}
        <div class="comment">
          <a class="avatar">
            <img src="{{ rating.user.profile.get_avatar_url }}">
          </a>
          <div class="content">
            {% if request.user.username %}
                <a class="author">{% trans 'User' %} {{ rating.user.username }}</a>
            {% else %}
                <a class="author">{% trans 'Anonymous user' %}</a>
            {% endif %}
            <div class="metadata">
              <span class="date">{% trans 'Created at: ' %}{{ rating.created_at|date:"Y-m-d H:i:s" }}</span>
              {{ rating.gen_stars }}
            </div>
            <div class="text">{{ rating.comment }}</div>
          </div>
        </div>
      {% endfor %}
    {% endfor %}
  </div>
</div>
