{% load i18n %}

{% if service_id = 'all' %}
  <h3 style="color: #555555;font-weight: 300;">{% trans 'Rating and comments:' %}</h3>
  <div class="ui comments">
    {% for service in services %}
      {% for rating in service.service_rating.all %}
        <div class="comment">
          <a class="avatar">
            <img src="{{ rating.user.profile.get_avatar_url }}">
          </a>
          <div class="content">
            {% if request.user.username %}
                <a class="author" target="_blank" href="{% url 'profiles:profile' rating.user.username %}">{% trans 'User' %} {{ rating.user.username }}</a>
            {% else %}
                <a class="author">{% trans 'Anonymous user' %}</a>
            {% endif %}
            <div class="metadata">
              <span class="date rate_date">{% trans 'Created at: ' %}{{ rating.created_at|date:"Y-m-d H:i:s" }}</span>
              {{ rating.gen_stars }}
            </div>
            <div class="text">{{ rating.comment }}</div>
          </div>
        </div>
      {% endfor %}
    {% endfor %}
  </div>
{% else %}
  <h3 style="color: #555555;font-weight: 300;">{% trans 'Rating and comment:' %}{{ ratings|length }}</h3>
  {% if ratings|length != 0 %}
      <div class="ui comments">
        {% for rating in ratings %}
        <div class="comment">
          <a class="avatar">
            <img src="{{ rating.user.profile.get_avatar_url }}">
          </a>
          <div class="content">
            {% if request.user.username %}
                <a class="author" target="_blank" href="{% url 'profiles:profile' rating.user.username %}">{% trans 'User' %} {{ rating.user.username }}</a>
            {% else %}
                <a class="author">{% trans 'Anonymous user' %}</a>
            {% endif %}
            <div class="metadata">
              <span class="date">{% trans 'Created at: ' %}{{ rating.created_at|date:"Y-m-d H:i:s" }}</span>
            </div>
            {{ rating.gen_stars }}
            <div class="text">{{ rating.comment }}</div>
          </div>
        </div>
        {% endfor %}
      </div>
  {% endif %}

  {% if rating_form %}
    <div class='row'>
      <form method="post" class="ui form rating_form">
        {% csrf_token %}
        <div class="field">
          <div class="ui star rating" data-rating="0" data-max-rating="5"></div>
          {{rating_form.comment}}
        </div>
        <div class="ui brand_blue labeled submit icon button"><i class="icon edit"></i> {% trans 'Send your comment' %}</div>
      </form>
    </div>
    <br>
  {% endif %}
{% endif %}


