{% load i18n %}

<h5 class="ui center aligned header">{% trans 'Scan,collection,share' %}</h5>
<img class="ui centered small image share_img" src=""  alt="二维码加载失败...">
<!-- JiaThis Button BEGIN -->
<script type="text/javascript" >
var jiathis_config={
  siteNum:3,
  sm:"weixin,qzone,tsina",
  url:window.location.href,
  summary:"世界这么大，怎能不出去走走呢！来吧，新的旅程从这里开始！",
  title:"{% if services %} {{profile.bio}} {% else %} {{service.title}} {% endif %}",
  boldNum:0,
  pic:"http://" + window.location.hostname + ":" + window.location.port + "{{ user.profile.get_avatar_url }}",
  showClose:true,
  shortUrl:false,
  hideMore:false
}

$(".share_img").attr('src', "http://s.jiathis.com/qrcode.php?url=" + encodeURIComponent(window.location.href))
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js" charset="utf-8"></script>
<!-- JiaThis Button END -->