{% load i18n %}
<div class="ui  left vertical inverted sidebar ui segment pointing menu profile_sidebar">
  <script type="text/javascript">
    function window_width() {
        var w = window.innerWidth
              || document.documentElement.clientWidth
              || document.body.clientWidth;
        return parseInt(w)
    }
    if(parseInt(window_width()) > 992) {
      $('.profile_sidebar').addClass('visible')
    }
  </script>
    {% with request.resolver_match.url_name as url_name %}

    <div class="ui header item">{% trans 'Profile sidebar' %}</div>
    
    <a class="item {% if url_name == 'dashboard' %}active{% endif %}" href="{% url 'profiles:dashboard' profile.user.username %}">
      <i class="dashboard icon"></i>
      {% trans 'Dashboard' %}
    </a>

    <a class="item {% if url_name == 'detail' %}active{% endif %}" href="{% url 'profiles:detail' profile.user.username %}">
      <i class="user icon"></i>
      {% trans 'Profile' %}
    </a>

    {% if profile.settings.is_provider == True %}
    <a class="item {% if url_name == 'album' %}active{% endif %}" href="{% url 'profiles:album' profile.user.username %}">
      <i class="file image outline icon"></i>
      {% trans 'Album' %}
    </a>
    <a class="item {% if url_name == 'services' %}active{% endif %}" href="{% url 'profiles:services' profile.user.username %}">
      <i class="server icon"></i>
      {% trans 'Services' %}
    </a>
    {% endif %}

    <a class="item {% if url_name == 'bookings' %}active{% endif %}" href="{% url 'profiles:bookings' profile.user.username %}">
      <i class="bookmark icon"></i>
      {% trans 'Bookings' %}
    </a>

    <a class="item {% if url_name == 'followers' or url_name == 'followings'  %}active{% endif %}" href="{% url 'profiles:followers' profile.user.username %}">
      <i class="heart icon"></i>
      {% trans 'Followship' %}
    </a>

    <a class="item {% if url_name == 'inbox_messages' or url_name == 'outbox_messages'  %}active{% endif %}" href="{% url 'profiles:inbox_messages' profile.user.username %}">
      <!-- <i class="mail outline icon"></i> -->
      {% trans 'Messages' %}
      <div class="ui teal left pointing label"><span class='live_message_badge'>0</span></div>
    </a>

    <a class="item {% if url_name == 'verification' %}active{% endif %}" href="{% url 'profiles:verification' profile.user.username %}">
      <i class="archive icon"></i>
      {% trans 'Verification' %}
    </a>
    <a class="item {% if url_name == 'settings' %}active{% endif %}" href="{% url 'profiles:settings' profile.user.username %}">
      <i class="setting icon"></i>
      {% trans 'Settings' %}
    </a>
    <a class="item" href="{% url 'accounts:logout' %}">
      <i class="sign out icon"></i>
      {% trans 'Quit' %}
    </a>
    {% endwith %}
    <br>
</div>

