{% load i18n %}

<aside class="main-sidebar">

  <section class="sidebar">

    <div class="user-panel">
      <div class="pull-left image">
        <img src="{{ user.profile.get_avatar_url }}" alt="User Image" class="img-circle">
      </div>
      <div class="pull-left info">
        <p>{{ user.profile.get_full_name_or_username }}</p>
        <span><i class="fa fa-circle text-success"></i> {% trans 'online' %}</span>
      </div>
    </div>

    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </form>

    <ul class="sidebar-menu">
      <li class="header">{% trans 'Profile sidebar' %}</li>
      {% with request.resolver_match.url_name as url_name %}
        <li class="{% if url_name == 'dashboard' %}active{% endif %}">
          <a href="{% url 'profiles:dashboard' profile.user.username %}">
            <i class="fa fa-tachometer"></i> <span>{% trans 'Dashboard' %}</span>
          </a>
        </li>
        <li class="{% if url_name == 'detail' %}active{% endif %}">
          <a href="{% url 'profiles:detail' profile.user.username %}">
            <i class="fa fa-user"></i> <span>{% trans 'Profile' %}</span>
          </a>
        </li>
        <li class="{% if url_name == 'contact' %}active{% endif %}">
          <a href="{% url 'profiles:contact' profile.user.username %}">
            <i class="fa fa-list-alt"></i> <span>{% trans 'Contact' %}</span>
          </a>
        </li>
        <li class="{% if url_name == 'services' %}active{% endif %}">
          <a href="{% url 'profiles:services' profile.user.username %}">
            <i class="fa fa-tasks"></i> <span>{% trans 'Services' %}</span>
          </a>
        </li>
      {% endwith %}
      <li>
        <a href="{% url 'accounts:logout' %}">
          <i class="fa fa-sign-out"></i> <span>{% trans 'Quit' %}</span>
        </a>
      </li>
    </ul>

  </section>

</aside>