{% load i18n %}

<div class="ui blue padded segment profile_form">
  <!-- <h3 class="ui center aligned header">{% trans 'Id indentifications' %}</h3>
  <h2 class="ui center aligned header">{% trans 'Please upload the image of your ID or other document' %}</h2> -->

  <h3 class="ui center aligned header">
    {% trans 'Personal Verification' %}
    <div class="sub header">
      {% trans 'Please upload the image of your ID or other document' %} 
    </div>
  </h3>

    <div class="ui top attached clearing segment">
      <h5 class="ui left floated header">
        {% trans 'Moderation status' %}&nbsp;&nbsp;
      </h5>

      <h5 class="ui left floated header">
        {% if verification_state == 1 %}
          <div class="ui grey label">{% trans 'Not started' %}</div>
        {% elif verification_state == 2 %}
          <div class="ui yellow label">{% trans 'Waiting for approval' %}</div>
        {% elif verification_state == 3 %}
          <div class="ui green label">{% trans 'Approved' %}</div>
        {% elif verification_state == 4 %}
          <div class="ui red label">{% trans 'Declined' %}</div>
        {% endif %}
       </h5>
    </div>



  <form class="ui form" action="" enctype="multipart/form-data" method="post">
    <br>
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="ui top attached clearing segment">
      <h5 class="ui left floated header">
        {% trans 'ID document' %}&nbsp;&nbsp;
      </h5>
    </div>

    <div class="ui secondary attached segment">
      {{ form.id_image.errors }}
      <div class="field">
        <!-- <label>{{ form.id_image.label }}</label> -->
        <div class="ui checkbox">
          {{ form.id_image }}
        </div>
      </div>
    </div>
    <br>

    <div class="ui top attached clearing segment">
      <h5 class="ui left floated header">
        {% trans 'Other documents for verification (Driving license, student card, etc )' %}
      </h5>
    </div>
    <div class="ui secondary attached segment">
      {{ form.second_id_image.errors }}
      <div class="field">
        <!-- <label>{{ form.second_id_image.label }}</label> -->
        <div class="ui checkbox">
          {{ form.second_id_image }}
        </div>
      </div>
    </div>

    <br>
    <br>
    <button class="fluid ui primary button" type="submit" style="margin-bottom:10px;">{% trans 'Save changes' %}</button>
    <a href="{% url 'profiles:detail' profile.user.username %}" class="fluid ui red button">{% trans 'Cancel' %}</a>
    <div class="ui error message">
    </div>
  </form>

</div>
