{% extends "profiles/__profile_base.html" %}
{% load render_bundle from webpack_loader %}
{% load i18n %}
{% load thumbnail %}

{% block stylesheets %}
  {% render_bundle 'profiles/album' 'css' %}
{% endblock %}

{% block javascripts %}
  {% render_bundle 'profiles/album' 'js' %}
{% endblock %}

{% block content %}
  <div class="ui grid album_grid">
    <div class="column">
      <div class="ui padding blue segment">
        <h3 class="ui center aligned header">
          {% trans 'Upload an image to Photo Center' %}
        </h3>
        <br>

        <form class="ui form {% if form.errors %}error{% endif %}" action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.non_field_errors }}

          <div class="required field">
            {{ form.image }}
          </div>

          <div class="field">
            <input type="submit" name="upload" value="{% trans 'Upload Image' %}" class="ui blue submit button" />
          </div>

          <div class="ui error message">
            {{ form.image.errors }}
          </div>
        </form>
      </div>
      <div class="ui padding blue segment">
        <h3 class="ui center aligned header">
          {% trans 'Photo Center' %}
        </h3>
        <div style="text-align:center">
          <div class="ui large horizontal list">
            <div class="item">
              <i class="icon home blue"></i>
              {% trans 'homepage pic' %}
            </div>
            <div class="item">
              <i class="icon circle green"></i>
              {% trans 'approved' %}  
            </div>
            <div class="item">
              <i class="icon circle yellow"></i>
              {% trans 'waiting for approval' %}  
            </div>
            <div class="item">
              <i class="icon circle red"></i>
              {% trans 'denied' %}  
            </div>
          </div>
        </div>
        <br>


        <form method="post" action="">
          {% csrf_token %}
          
          <div class="ui doubling four column grid">
            {% for image in images %}
              <div class="column">
                <div class="image_css">
                  <label>
                    <img src="{% thumbnail image.image 220x220 crop='smart' %}" />
                    <input class="image_checkbox" type="checkbox" name="selected" value="{{ image.id }}"  />
           <!--          <div class="icon_block">
                      <div class="ui basic label">
                        {% if image.is_in_my_album %}<i class="icon home blue"></i>{% endif %}
                      </div>
                    </div> -->
                  </label>
                  <a class="ui left corner label">
                    {% if image.status == 1 %}
                      <i class="icon circle yellow"></i>
                    {% elif image.status == 2 %}
                      <i class="icon circle green"></i>
                    {% elif image.status == 3 %}
                      <i class="icon circle red"></i>
                    {% endif %}
                  </a>
                  {% if image.is_in_my_album %}
                    <a class="ui red right corner mini label">
                      <i class="home icon"></i>
                    </a>
                  {% endif %}
                </div>
              </div>
            {% endfor %}

            <div class="row">
              <div class="sixteen wide column" style="width: 100%!important;">
                <input class="button blue ui" type="submit" name="select" value="{% trans 'Home photo' %}" />
                <input class="button red ui" type="submit" name="select_delete" value="{% trans 'Delete' %}" />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %} 
