{% extends "profiles/__profile_base.html" %}
{% load render_bundle from webpack_loader %}
{% load i18n staticfiles %}
{% block stylesheets %}
    {% render_bundle 'profiles/dashboard' 'css' %}
{% endblock %}
{% block javascripts %}
		<script type="text/javascript">
      $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
      });
    </script>
    {% render_bundle 'profiles/dashboard' 'js' %}
{% endblock %}

{% block content %}  
<div class="ui grid dashboard_grid">
	<div class="column">
		<div class="ui segment" style="padding:0;">
		  <div class="ui padded grid">
		    <div class="six wide mobile four wide tablet four wide computer column div_avatar">
		      <img style="box-shadow: #333333 1px 1px 20px 0;" class="ui centered small image" src="{{ profile.get_avatar_url }}" alt="{% trans 'user profile picture' %}">
		    </div>
		    <div class="ten wide mobile nine wide tablet nine wide computer column">
		      <h3 style="color: #555555;font-weight: 300;">{{ profile.user.username }}{% if profile.get_gender_display%}, {{ profile.get_gender_display|default:"" }}{% endif %}{% if profile.age %}/{{ profile.age}}{% endif %}</h3>
		      <div class="sub header" style="margin-top:-1rem;">{% if profile.location %}{{ profile.location }}{% endif %}{% if profile.country%}, {{ profile.country}}{% endif %}</div>
		      <div style="border-color: #888888;border-bottom-width: 0px;" class="ui black divider"></div>
		      <table class="ui very basic unstackable compact fixed table personal_table">
		        <tbody>
		          <tr>
		            <td class="grey_and_bold">{% trans 'profession:' %}</td>
		            <td colspan="3">{% if profile.get_profession_display%}{{ profile.get_profession_display|default:"" }}{% endif %}</td>
		          </tr>
		          <tr>
		            <td class="grey_and_bold">{% trans 'language:' %}</td>
		            <td colspan="3">
		            {% for language in profile.languages.all %}
		              <div class="ui green label">{{ language.name }}</div>
		            {% endfor %}
		            </td>
		          </tr>
		          <tr>
		            <td class="grey_and_bold">{% trans 'tag:' %}</td>
		            <td colspan="3">
		              {% for tag in profile.tags.all %}
		                <div class="ui green label">{{ tag.name }}</div>
		              {% endfor %}
		            </td>
		          </tr>
		          <tr>
		            <td class="grey_and_bold">{% trans 'signature:' %}</td>
		            <td colspan="3">{{ profile.short_description }}</td>
		          </tr>
		          <tr>
		            <td class="grey_and_bold">{% trans 'user_id:' %}</td>
		            <td colspan="3">NO.{{ profile.user.id }}</td>
		          </tr>
		        </tbody>
		      </table>
		      <div class="all_buttons disnone_mobile">
			      <a class="ui brand_blue button" href="{% url 'profiles:profile' profile.user.username %}"><i class="icon home"></i>{% trans 'homepage' %}</a>
			      <a class="ui brand button">{{ profile.settings.get_status_display }}</a>
		      </div>
		    </div>
		    <div class="three wide column tablet_more only">
	        {% if profile.settings.is_provider %}
	          <div class="ui large blue right ribbon label">{% trans 'Provider' %}</div>
	        {% else %}
	          <div class="ui large blue right ribbon label">{% trans 'Customer' %}</div>
	        {% endif %}
		    </div>
		    <div class="sixteen wide column display_mobile">
		    	<div class="all_buttons">
			      <a class="ui brand_blue button" href="{% url 'profiles:profile' profile.user.username %}"><i class="icon home"></i>{% trans 'homepage' %}</a>
			      <a class="ui brand button">{{ profile.settings.get_status_display }}</a>
			     </div>
		    </div>
		  </div>
		</div>

		<div class="ui four column doubling grid big_icon_grid">
			<div class="column">
				<div class="ui blue inverted segment" onclick='location.href="{% url 'profiles:bookings' profile.user.username %}"'>
					<div class="ui center aligned middle aligned grid">
						<div class="seven wide column">
							<h2>{{ number_bookings }}</h2>
							<p>{% trans 'Bookings' %}</p>
						</div>
						<div class="nine wide column">
							<i class="shop huge icon"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="ui green inverted segment" onclick='location.href="{% url 'profiles:services' profile.user.username %}"'>
					<div class="ui center aligned middle aligned grid">
						<div class="seven wide column">
							<h2>{{ services|length }}</h2>
							<p>{% trans 'Service' %}</p>
						</div>
						<div class="nine wide column">
							<i class="server huge icon"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="ui orange inverted segment" onclick='location.href="{% url 'profiles:followers' profile.user.username %}"'>
					<div class="ui center aligned middle aligned grid">
						<div class="nine wide column">
							<h2>{{ number_followers }} <span style="font-weight:100;">/</span> {{ number_following }}</h2>
							<p>粉丝 / 关注</p>
	<!-- 						<p>{% trans 'Followers' %} <span style="font-size:1.2rem;"><b>{{ number_followers }}</b></span></p> 
							<p>{% trans 'Following' %} <span style="font-size:1.2rem;"><b>{{ number_following }}</b></span></p> -->
						</div>
						<div class="seven wide column">
							<i class="add user huge icon"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="ui red inverted segment" onclick='location.href="{% url 'profiles:inbox_messages' profile.user.username %}"'>
					<div class="ui center aligned middle aligned grid">
						<div class="seven wide column">
							<h2>{{ unread_messages | length }}</h2>
							<p>{% trans 'Messages' %}</p>
						</div>
						<div class="nine wide column">
							<i class="mail outline huge icon"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui segment noti_segment">
			<h3 class="grey_and_bold">{% trans 'Notifications:' %}</h3>
			<span>{% trans 'show' %}</span>
			<div class="ui checkbox">
			  <input type="checkbox" class="checkbox_sort" name="checkbox_sort" value="unread">
			  <label>unread</label>
			</div>
			<div class="ui checkbox">
			  <input type="checkbox" class="checkbox_sort" name="checkbox_sort" value="read">
			  <label>read</label>
			</div>
			<div class="ui top left pointing dropdown">
		    <i class="icon ellipsis horizontal"></i> 

		    <div class="menu">
		      <div class="mark_read item"><i class="checkmark icon"></i>{% trans "mark read" %}</div>
		      <div class="mark_delete item"><i class="trash outline icon"></i>{% trans "delete" %}</div>
		    </div>
		  </div>
			<div class="ui black divider notifications_list"></div>
			{% include 'profiles/__notifications_list.html' %}
		</div>
	</div>
</div>
{% endblock %} 