{% extends "profiles/__profile_base.html" %}
{% load render_bundle from webpack_loader %}
{% block stylesheets %}
    {% render_bundle 'profiles/detail' 'css' %}
{% endblock %}
{% block javascripts %}
    {% render_bundle 'profiles/detail' 'js' %}
{% endblock %}

{% block extra_head %}
  <script>	
  	var set_album_image_url = "{% url 'profiles:set_album_image' profile.user.username %}";
	  var redactor_custom_options = {'imageManagerJson': '{% url "profiles:album" profile.user.username %}'};
  </script>
{% endblock %}


{% block content %}
    <div class="ui grid detail_grid">
      <div class="column">
        {% include 'profiles/__profile_form.html' %}
        {% include 'profiles/__more_profile_form.html' %}
      </div>
    </div>
{% endblock %} 
