{% extends "core/__global.html" %}
{% load render_bundle from webpack_loader %}
{% load i18n %}
{% load thumbnail %}

{% block stylesheets %}
    {% render_bundle 'profiles/profile' 'css' %}
{% endblock %}
{% block javascripts %}
    {% render_bundle 'profiles/profile' 'js' %}
{% endblock %}

{% block content %}  
  <br>
  <div class="ui container">
    {% include "profiles/__profile_top.html" %}
    {% include "profiles/__profile_services.html" %}
    {% include "services/__service_descriptions.html" %}
    {% include "profiles/__rating_box.html" %}
  </div>  
  <br>
  <br>
{% endblock %}

