{% extends "core/__global.html" %}
{% load render_bundle from webpack_loader %}
{% load thumbnail %}

{% block stylesheets %}
    {% render_bundle 'profiles/profile' 'css' %}
{% endblock %}
{% block javascripts %}
    {% render_bundle 'profiles/profile' 'js' %}
{% endblock %}

{% block content %}    
  <div class="ui grid container profile_content">
    <div class="row">
      <div class="mobile tablet only sixteen wide column">
        {% include "profiles/__profile_box.html" %}
        <br>
        {% include "services/__service_box.html" %}
        <br>
      </div>
      <div class="sixteen wide tablet eleven wide computer column">
        <div class="ui padding grid">
          <div class="computer only sixteen wide column">
            {% include "profiles/widgets/__widget_profile.html" %}
          </div>
          <div class="sixteen wide column">
            {% include "services/__service_descriptions.html" %}
          </div>
          
          <div class="sixteen wide column">
            <div class="ui grid">
              {% for image in profile.user.my_album.images.all %}
                <div class="four wide column">
                  <a href="{{ image.image.url }}">
                    <img src="{% thumbnail image.image 140x140 crop='smart' %}" />
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>

        </div>
      </div>
      <div class="computer only five wide column">
        <div class="ui rail">
          <div class="ui sticky">
            {% include "profiles/__profile_box.html" %}
            {% include "profiles/__share_box.html" %}
            {% include "services/__service_box.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

