{% extends "profiles/__profile_base.html" %}
{% load render_bundle from webpack_loader %}
{% block stylesheets %}
    {% render_bundle 'profiles/services' 'css' %}
{% endblock %}
{% block javascripts %}
    {% render_bundle 'profiles/services' 'js' %}
{% endblock %}

{% block extra_head %}
  <script>var redactor_custom_options = {'imageManagerJson': '{% url "profiles:album" profile.user.username %}'};</script>
{% endblock %}

{% block content %}
    <div class="ui grid service_grid">
      <div class="column">
        {% include 'services/__service_form_edit.html' %}
      </div>
    </div>
{% endblock %} 
