{% extends "profiles/__profile_base.html" %}
{% load render_bundle from webpack_loader %}
{% block stylesheets %}
{#    {% render_bundle 'profiles/settings' 'css' %}#}
{% endblock %}
{% block javascripts %}
{#    {% render_bundle 'profiles/settings' 'js' %}#}
{% endblock %}

{% block content %}
	<div class="ui grid">
	  <div class="column">
          <div class="ui blue padded segment">
                {% include 'profiles/__settings_form.html' %}
            </div>
	  </div>
	</div>
{% endblock %}