body {
	background-color: rgb(243, 243, 243);
}
.ui.grid.login-content {
	width: 400px;
	margin: 10px auto;
}
.login-content {
	.icon_button {
		margin-bottom: 8px;
		text-align: left;
	}
	.ui.error.message {
		margin-top: 25px;
	}
	ul.errorlist {
		list-style: none;
		-webkit-padding-start: 0; 
		li {
			color: #dd4b39; 
		}
	}
}
