body {
	background-color: rgb(243, 243, 243);
}
.ui.padded.grid.highly_adaptive .column {
	max-width: 500px;
}
.highly_adaptive {
	.icon_button {
		margin-bottom: 8px;
		text-align: left;
	}
	.ui.error.message {
		margin-top: 25px;
	}
	ul.errorlist {
		list-style: none;
		-webkit-padding-start: 0; 
		li {
			color: #dd4b39; 
		}
	}
}
