<div class="ui basic segment">
  <div class="ui large breadcrumb">
    <a href="{% url 'index' %}" class="section"><i class="home icon"></i>主页</a>
    <i class="right chevron icon divider"></i>
    <div class="active section">
    	{% if about_type == 'about_us' %}
	    	关于我们
    	{% elif about_type == 'service_term' %}
            服务条项
    	{% elif about_type == 'privacy_protect' %}
            隐私保护
    	{% elif about_type == 'disclaimer' %}
            免责声明
    	{% endif %}
    </div>
  </div>    
</div>