{% load i18n %}

<div class="ui big animated relaxed list">
  <a href="{% url 'about_us' 'about_us' %}" class="{% if about_type == 'about_us' %}active{% endif %} item">
  	<i class="{% if about_type == 'about_us' %}black{% endif %} file text icon"></i>
  	关于我们
  </a>
  <a href="{% url 'about_us' 'service_term' %}" class="{% if about_type == 'service_term' %}active{% endif %} item">
  	<i class="{% if about_type == 'service_term' %}black{% endif %} file text icon"></i>
  	服务条款
  </a>
  <a href="{% url 'help_problem' 'all' 'all' %}" class="item">
  	<i class="file text icon"></i>
  	帮助中心
  </a>
  <a href="{% url 'about_us' 'photo_copyright' %}" class="{% if about_type == 'photo_copyright' %}active{% endif %} item">
  	<i class="{% if about_type == 'photo_copyright' %}black{% endif %} file text icon"></i>
  	图片版权
  </a>
  <a href="{% url 'about_us' 'contact' %}" class="{% if about_type == 'contact' %}active{% endif %} item">
    <i class="{% if about_type == 'contact' %}black{% endif %} file text icon"></i>
    联系我们
  </a>
</div>