{% extends "core/__global.html" %}
{% load render_bundle from webpack_loader %}
{% load i18n %}

{% block stylesheets %}
    {% render_bundle 'core/about_us' 'css' %}
{% endblock %}
{% block javascripts %}
    {% render_bundle 'core/about_us' 'js' %}
{% endblock %}

{% block content %}
  <div class="city_img" style="background-image: url('/static/images/dummy/banner_0.jpg');"></div>

  <div class="ui container">
    {% include 'core/about/__about_segment.html' %}
    <br>
    <div class="ui padded grid about_us">
      <div class="computer only four wide column">
        <div class="ui rail">
          <div class="ui sticky">
            {% include 'core/about/__about_box.html' %}
          </div>
        </div>
      </div>
      <div class="sixteen wide tablet twelve wide computer column about_context">
        {% if about_type == 'about_us' %}
          {% include 'core/about/__about_content/about_us.html' %}
        {% elif about_type == 'service_term' %}
          {% include 'core/about/__about_content/service_term.html' %}
        {% elif about_type == 'photo_copyright' %}
          {% include 'core/about/__about_content/privacy_protect.html' %}
        {% elif about_type == 'contact' %}
          {% include 'core/about/__about_content/contact.html' %}
        {% endif %}
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>

{% endblock %}