{% load i18n %}

<div class="ui inverted vertical segment footer">
  <div class="ui three column center aligned stackable grid">
    <div class="column">
      <h5 class="ui inverted header">About us</h5>
      <div class="ui inverted link list">
        <a class="item">Our team</a>
        <a class="item">Terms of services</a>
        <a class="item">Join us</a>
        <a class="item">Business cooperation</a>
      </div>
    </div>
    <div class="column">
      <h5 class="ui inverted header">Q&A</h5>
      <div class="ui inverted link list">
        <a class="item">How to book</a>
        <a class="item">How to become provider</a>
        <a class="item">Service commissions</a>
      </div>
    </div>
    <div class="column">
      <h5 class="ui inverted header">Contact</h5>
      <div class="ui inverted link list">
        <a class="item"><i class="mail outline icon"></i> Team@reismann.de</a>
        <a class="item"><i class="edit icon"></i> Write us a message</a>
        <a class="item"><i class="call icon"></i> +49 222 333 222</a>
      </div>
    </div>
  </div>
</div>
<div class="ui inverted vertical segment center aligned copyright">
  <h6 class="ui header">Copyright &copy; 2015 Reismann GmbH</h6>
</div>