{% load i18n %}

<div class="ui inverted vertical segment footer">
  <div class="ui three column left aligned stackable doubling grid container">
    <div class="column">
      <h5 class="ui inverted header">{% trans "About us" %}</h5>
      <div class="ui inverted link list">
        <a class="item" href="{% url 'about_us' 'about_us' %}">{% trans "About us" %}</a>
        <a class="item" href="{% url 'about_us' 'service_term' %}">{% trans "Terms of services" %}</a>
        <a class="item" href="{% url 'about_us' 'privacy_protect' %}">{% trans "Privacy protection" %}</a>
        <a class="item" href="{% url 'about_us' 'disclaimer' %}">{% trans "Disclaimer of liability" %}</a>
      </div>
    </div>
    <div class="column">
      <h5 class="ui inverted header">{% trans "Help" %}</h5>
      <div class="ui inverted link list">
        <a class="item" href="{% url 'help_problem' 'all' 'all' %}">{% trans "Q&A" %}</a>
        <a class="item" href="{% url 'help_problem' 'novice' '1' %}">{% trans "Novice on the road" %}</a>
      </div>
    </div>
    <div class="column">
      <h5 class="ui inverted header">{% trans "Contact" %}</h5>
      <div class="ui inverted link list">
        <a class="item" href="{% url 'contact_info' %}"><i class="mail outline icon"></i> {% trans "Team@reismann.de" %}</a>
        <a class="item" href="{% url 'contact_info' %}"><i class="call icon"></i> {% trans "+49 222 333 222" %}</a>
        <a class="item" href="{% url 'contact_info' %}"><i class="weibo icon"></i> {% trans "Official micro-blog" %}</a>
        <a class="item" href="{% url 'contact_info' %}"><i class="wechat icon"></i> {% trans "WeChat public number" %}</a>
      </div>
    </div>
  </div>

  <div class="ui container">
    <div class="ui divider"></div>
    <div class="ui center aligned white basic segment">
      <p style="color:#fff">分享到：</p>
      <!-- JiaThis Button BEGIN -->
      <div class="jiathis_style_32x32" style="width:117px;margin:0 auto;">
        <a class="jiathis_button_weixin"></a>
        <a class="jiathis_button_qzone"></a>
        <a class="jiathis_button_tsina"></a>
      </div>
      <script type="text/javascript" >
      var jiathis_config={
        siteNum:3,
        sm:"weixin,qzone,tsina",
        url:"http://lz.syyx.com/brotherhood/flash",
        summary:"世界这么大，怎能不出去走走呢！来吧，新的旅程从这里开始！",
        title:"定制您的个人旅游",
        boldNum:0,
        pic:"http://r.syyx.com/lz/brotherhood/share.jpg",
        // url:"http:127.0.0.1:8000",
        // pic:"http://127.0.0.1:8000/static/images/dummy/share_map.png",
        showClose:true,
        shortUrl:false,
        hideMore:false
      }
      </script>
      <script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js" charset="utf-8"></script>
      <!-- JiaThis Button END -->
      <br>
      <br>
    </div>
  </div>
</div>
<div class="ui inverted vertical segment center aligned copyright">
  <h6 class="ui header">Copyright &copy; 2015 Reismann GmbH</h6>
</div>