{% load i18n %}

<div class="ui blue segment bookings_show">
  <h3 class="ui center aligned header">{% trans 'Booking' %}</h3>

  <div class="ui large relaxed list">
    <div class="item">
      <div class="header">{% trans 'Service' %}</div>
      {{ booking.service.title }}
    </div>
    <div class="item">
      <div class="header">{% trans 'Sender' %}</div>
      {{ booking.sender }}
    </div>
    <div class="item">
      <div class="header">{% trans 'Recipient' %}</div>
      {{ booking.recipient }}
    </div>
    <div class="item">
      <div class="header">{% trans 'Start time' %}</div>
      {{ booking.service_starts_at|date:"Y-m-d" }}
    </div>
    <div class="item">
      <div class="header">{% trans 'End time' %}</div>
      {{ booking.service_ends_at|date:"Y-m-d" }}
    </div>
    <div class="item">
      <div class="header">{% trans 'Price' %}</div>
      {{ booking.price }}
    </div>
    <div class="item">
      <div class="header">{% trans 'Number of customers' %}</div>
      {{ booking.number_of_customers }}
    </div>
    <div class="item style_label">
      <div class="header">{% trans 'Booking status' %}</div>
      {% if booking.status == 1 %}
        <a class="ui brand_blue label">{% trans 'Negotiation' %} </a>
      {% elif booking.status == 2%}
        <a class="ui brand_blue label">{% trans 'Negotiation' %}</a>
      {% elif booking.status == 3%}
        <a class="ui red label">{% trans 'Rejected' %}</a>
      {% elif booking.status == 4%}
        <a class="ui red label">{% trans 'Rejected' %}</a>
      {% elif booking.status == 5%}
        <a class="ui green label">{% trans 'Approved' %}</a>
      {% elif booking.status == 6%}
        <a class="ui green label">{% trans 'Approved' %}</a>
      {% elif booking.status == 7%}
        <a class="ui red label">{% trans 'Removed' %}</a>
      {% elif booking.status == 8%}
        <a class="ui red label">{% trans 'Removed' %}</a>
      {% endif %}
    </div>
    <div class="item">
      <div class="header">{% trans 'Booking content' %}</div>
      {{ booking.booking_content }}
    </div>
    <div class="item">
      <div class="header">{% trans 'Booking remark' %}</div>
      {{ booking.booking_remark }}
    </div>
    <div class="item style_button">
      {% if request.user == booking.sender %}
        {% if booking.status == 1 %}
          <a href="{% url 'profiles:booking_edit' request.user.username booking.id %}" class="ui brand_blue button"><i class="edit icon"></i>{% trans 'edit' %}</a>
          <a href="{% url 'profiles:booking_approve' request.user.username booking.id %}" class="ui green button"><i class="angellist icon"></i>{% trans 'approve' %}</a>
          <a href="{% url 'profiles:booking_reject' request.user.username booking.id %}" class="ui red button"><i class="remove icon"></i>{% trans 'reject' %}</a>
          <a href="{% url 'profiles:booking_remove' request.user.username booking.id %}" class="ui red button"><i class="remove icon"></i>{% trans 'remove' %}</a>
        {% elif booking.status != 2 %}
          <a href="{% url 'profiles:booking_remove' request.user.username booking.id %}" class="ui red button"><i class="remove icon"></i>{% trans 'remove' %}</a>
        {% endif %}
      {% elif request.user == booking.recipient %}
        {% if booking.status == 2 %}
          <a href="{% url 'profiles:booking_edit' request.user.username booking.id %}" class="ui brand_blue button"><i class="edit icon"></i>{% trans 'edit' %}</a>
          <a href="{% url 'profiles:booking_approve' request.user.username booking.id %}" class="ui green button"><i class="angellist icon"></i>{% trans 'approve' %}</a>
          <a href="{% url 'profiles:booking_reject' request.user.username booking.id %}" class="ui red button"><i class="remove icon"></i>{% trans 'reject' %}</a>
          <a href="{% url 'profiles:booking_remove' request.user.username booking.id %}" class="ui red button"><i class="remove icon"></i>{% trans 'remove' %}</a>
        {% elif booking.status != 1 %}
          <a href="{% url 'profiles:booking_remove' request.user.username booking.id %}" class="ui red button"><i class="remove icon"></i>{% trans 'remove' %}</a>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
