{% load i18n %}

<div class="ui blue segment bookings_show">
  <h3 class="ui center aligned header">{% trans 'Bookings' %}</h3>

  <table class="ui striped table">
    <thead>
      <tr>
        <th>{% trans "Customer" %}</th>
        <th>{% trans "Provider" %}</th>
        <th>{% trans "Service" %}</th>
        <th>{% trans "Start date" %}</th>
        <th>{% trans "End date" %}</th>
        <th>{% trans "Price" %}</th>
        <th>{% trans "Status" %}</th>
        <th>{% trans "Rating" %}</th>
        <th>{% trans "View" %}</th>
      </tr>
    </thead>
    <tbody>
    {% for booking in bookings %}
      <tr onclick="window.document.location='{% url 'profiles:booking_view' profile.user.username booking.id%}';">
        {% if booking.sender == user %}
          <td>
            <h4 class= "ui image header">
              <img src="{{ booking.sender.profile.get_avatar_url }}" class="ui mini rounded image">
              <div class="content">
                {% trans "Me" %}
                <div class="sub header">{{ booking.sender.profile.location }}</div>
              </div>
            </h4>
          </td>
        {% else %}
          <td>
            <h5 class= "ui image header">
              <img src="{{ booking.sender.profile.get_avatar_url }}" class="ui mini rounded image">
              <div class="ui content">
                {{ booking.sender }}
                <div class="sub header">{{ booking.sender.profile.location }}</div>
              </div>
            </h5>
          </td>
        {% endif %}
        {% if booking.recipient == user %}
          <td>
            <h5 class= "ui image header">
              <img src="{{ booking.recipient.profile.get_avatar_url }}" class="ui mini rounded image">
              <div class="content">
                {% trans "Me" %}
                <div class="sub header">{{ booking.recipient.profile.location }}</div>
              </div>
            </h5>
          </td>
        {% else %}
          <td>
            <h5 class= "ui image header">
              <img src="{{ booking.recipient.profile.get_avatar_url }}" class="ui mini rounded image">
              <div class="content">
                {{ booking.recipient }}
                <div class="sub header">{{ booking.recipient.profile.location }}</div>
              </div>
            </h5>
          </td>
        {% endif %}
        <td>{{ booking.service.title}}</td>
        <td>{{ booking.start_time|date:"Y-m-d" }}</td>
        <td>{{ booking.end_time|date:"Y-m-d" }}</td>
        <td>
          {% if booking.service.currency == 1 %}
            {% trans '€' %}
          {% elif booking.service.currency == 2 %}
            {% trans '¥' %}
          {% endif %}
          {{ booking.price|floatformat:"0" }}/
          {% if booking.service.price_type == 1 %}
            {% trans 'day' %}
          {% elif booking.service.price_type == 2 %}
            {% trans 'hour' %}
          {% endif %}
        </td>
        <td>
          {% if booking.status == 1 %}
            {% if booking.sender == request.user %}
                <a class="ui brand_blue label">{% trans 'User should reply' %} </a>
            {% else %}
                <a class="ui brand_blue label">{% trans 'Customer should reply' %} </a>
            {% endif %}
          {% elif booking.status == 2%}
            {% if booking.recipient == request.user %}
                <a class="ui brand_blue label">{% trans 'You should reply' %}</a>
            {% else%}
                <a class="ui brand_blue label">{% trans 'Provider should reply' %}</a>
            {% endif %}

          {% elif booking.status == 3%}
            <a class="ui red label">{% trans 'Rejected by customer' %}</a>
          {% elif booking.status == 4%}
            <a class="ui red label">{% trans 'Rejected provider' %}</a>
          {% elif booking.status == 5%}
            <a class="ui green label">{% trans 'Approved by customer' %}</a>
          {% elif booking.status == 6%}
            <a class="ui green label">{% trans 'Approved by provider' %}</a>
          {% elif booking.status == 7%}
            <a class="ui red label">{% trans 'Removed by customer' %}</a>
          {% elif booking.status == 8%}
            <a class="ui red label">{% trans 'Removed by provider' %}</a>
          {% elif booking.status == 9%}
            <a class="ui red label">{% trans 'Canceled by customer' %}</a>
          {% elif booking.status == 10%}
            <a class="ui red label">{% trans 'Canceled by provider' %}</a>
          {% endif %}
        </td>
        <td>{{ booking.rating }}</td>
        <td>
          <a class="ui green label" href="view/{{ booking.id }}/">
            <i class="unhide icon"></i>{% trans 'view' %}
          </a>
        </td>
      </tr>
    {% endfor %}
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <a class="ui green label" href="add/0">
            <i class="edit icon"></i>{% trans 'add' %}
          </a>
      </tr>
    </tbody>
  </table>
</div>

