{% load i18n %}


<div class="ui blue segment bookings_show">
  <h3 class="ui center aligned header">{% trans 'Booking' %}</h3>
  <table class="ui five column celled table">
    <thead>
      <tr>
        <th>{% trans 'Service' %}</th>
        <th>{% trans 'Start time' %}</th>
        <th>{% trans 'End time' %}</th>
        <th>{% trans 'Price' %}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ booking.service.title }}</td>
        <td>{{ booking.service_starts_at|date:"Y-m-d" }}</td>
        <td>{{ booking.service_ends_at|date:"Y-m-d" }}</td>
        <td>{{ booking.price }}</td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th>{% trans 'Sender' %}</th>
        <th>{% trans 'Recipient' %}</th>
        <th>{% trans 'Number of customers' %}</th>
        <th>{% trans 'Booking status' %}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ booking.sender }}</td>
        <td>{{ booking.recipient }}</td>
        <td>{{ booking.number_of_customers }}</td>
        <td>
          {% if booking.status == 1 %}
            <a class="ui brand_blue label">{% trans 'Negotiation' %} </a>
          {% elif booking.status == 2%}
            <a class="ui brand_blue label">{% trans 'Negotiation' %}</a>
          {% elif booking.status == 3%}
            <a class="ui red label">{% trans 'Rejected' %}</a>
          {% elif booking.status == 4%}
            <a class="ui red label">{% trans 'Rejected' %}</a>
          {% elif booking.status == 5%}
            <a class="ui green label">{% trans 'Approved' %}</a>
          {% elif booking.status == 6%}
            <a class="ui green label">{% trans 'Approved' %}</a>
          {% elif booking.status == 7%}
            <a class="ui red label">{% trans 'Removed' %}</a>
          {% elif booking.status == 8%}
            <a class="ui red label">{% trans 'Removed' %}</a>
          {% endif %}
        </td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th colspan="2">{% trans 'Booking content' %}</th>
        <th colspan="4">{% trans 'Booking remark' %}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="2">{{ booking.booking_content }}</td>
        <td colspan="2">{{ booking.booking_remark }}</td>
      </tr>
    </tbody>
    <tfoot class="full-width">
      <tr>
        <th></th>
        <th colspan="4">
          {% if request.user == booking.sender %}
            {% if booking.status == 1 or booking.status == 2 or booking.status == 3 or booking.status == 4 %}
              <a href="{% url 'profiles:booking_edit' request.user.username booking.id %}" class="ui blue button"><i class="edit icon"></i>{% trans 'edit' %}</a>
              <a href="{% url 'profiles:booking_remove' request.user.username booking.id %}" class="ui red button"><i class="remove icon"></i>{% trans 'remove' %}</a>
            {% endif %}
          {% elif request.user == booking.recipient %}
            {% if booking.status == 1 or booking.status == 2 %}
              <a href="{% url 'profiles:booking_reject' request.user.username booking.id %}" class="ui red button"><i class="remove icon"></i>{% trans 'reject' %}</a>
              <a href="{% url 'profiles:booking_approve' request.user.username booking.id %}" class="ui green button"><i class="angellist icon"></i>{% trans 'approve' %}</a>
            {% elif booking.status == 3 or booking.status == 4  %}
              <a href="{% url 'profiles:booking_approve' request.user.username booking.id %}" class="ui green button"><i class="angellist icon"></i>{% trans 'approve' %}</a>
            {% endif %}
          {% endif %}
        </th>
      </tr>
    </tfoot>
  </table>
</div>
