{% load i18n %}

<div class="ui blue segment bookings_show">
  <h3 class="ui center aligned header">{% trans 'Booking' %}</h3>

  <form class="ui form">
    <div class="field">
      <label>{% trans 'Service' %}</label>
      {{ booking.service.title }}
    </div>
    <div class="field">
      <label>{% trans 'Start time' %}</label>
      {{ booking.service_starts_at|date:"d/m/Y" }}
    </div>
    <div class="field">
      <label>{% trans 'End time' %}</label>
      {{ booking.service_ends_at|date:"d/m/Y" }}
    </div>
    <div class="field">
      <label>{% trans 'Sender' %}</label>
      {{ booking.sender }}
    </div>
    <div class="field">
      <label>{% trans 'Recipient' %}</label>
      {{ booking.recipient }}
    </div>
    <div class="field">
      <label>{% trans 'Price' %}</label>
      {{ booking.price }}
    </div>
    <div class="field">
      <label>{% trans 'Number of customers' %}</label>
      {{ booking.number_of_customers }}
    </div>
    <div class="field">
      <label>{% trans 'Booking content' %}</label>
      {{ booking.booking_content }}
    </div>
    <div class="field">
      <label>{% trans 'Booking remark' %}</label>
      {{ booking.booking_remark }}
    </div>
    <div class="field">
      <label>{% trans 'Booking status' %}</label>
      {{ booking.get_status_display|lower }}
      {{ booking.status }}
    </div>


    {% if booking.status == 3 or booking.status == 4 or booking.status == 5 or booking.status == 6 or booking.status == 7 or booking.status == 8 %}

      <a href="" class="ui right floated button"><i class="remove icon"></i></a>
      <a href="" class="ui right floated button"><i class="edit icon"></i></a>
      <a href="" class="ui right floated button"><i class="angellist icon"></i></a>
    {% else %}
      {% if request.user == booking.sender %}
        {% if booking.status == 2%}
          <a href="{% url 'profiles:booking_reject' request.user.username booking.id %}" class="ui right floated button"><i class="remove icon"></i></a>
          <a href="{% url 'profiles:booking_approve' request.user.username booking.id %}" class="ui right floated button"><i class="edit icon"></i></a>
          <a href="{% url 'profiles:booking_edit' request.user.username booking.id %}" class="ui right floated button"><i class="angellist icon"></i></a>
        {% else %}
          <a href="" class="ui right floated button"><i class="remove icon"></i></a>
          <a href="" class="ui right floated button"><i class="edit icon"></i></a>
          <a href="" class="ui right floated button"><i class="angellist icon"></i></a>
        {% endif %}
      {% elif request.user == booking.recipient %}
        {% if booking.status == 1%}
          <a href="{% url 'profiles:booking_reject' request.user.username booking.id %}" class="ui right floated button"><i class="remove icon"></i></a>
          <a href="{% url 'profiles:booking_approve' request.user.username booking.id %}" class="ui right floated button"><i class="edit icon"></i></a>
          <a href="{% url 'profiles:booking_edit' request.user.username booking.id %}" class="ui right floated button"><i class="angellist icon"></i></a>
        {% else %}
          <a href="" class="ui right floated button"><i class="remove icon"></i></a>
          <a href="" class="ui right floated button"><i class="edit icon"></i></a>
          <a href="" class="ui right floated button"><i class="angellist icon"></i></a>
        {% endif %}
      {% endif %}
    {% endif %}
    <br>
    <br>
  </form>
</div>