{% load i18n %}

<form class="ui form bookings_write_form" action="" enctype="multipart/form-data" method="post">
  {% csrf_token %}
  
  {{ form.non_field_errors }}
  {{ form.service.errors }}
  <div class="field">
    <label>{{ form.service.label }}</label>
    {{ form.service }}
  </div>
  {{ form.start_time.errors }}
  <div class="field">
    <label>{{ form.start_time.label }}</label>
    <div class="ui corner labeled input">
        {{ form.start_time }}
        <div class="ui corner label">
          <i class="asterisk icon"></i>
        </div>
      </div>
  </div>
  {{ form.end_time.errors }}
  <div class="field">
    <label>{{ form.end_time.label }}</label>
    <div class="ui corner labeled input">
        {{ form.end_time }}
        <div class="ui corner label">
          <i class="asterisk icon"></i>
        </div>
      </div>
  </div>
  {{ form.number_of_customers.errors }}
  <div class="field">
    <label>{{ form.number_of_customers.label }}</label>
    {{ form.number_of_customers }}
  </div>
  {{ form.price.errors }}
  <div class="field">
    <label>{{ form.price.label }}</label>
    {{ form.price }}
  </div>
  {{ form.meeting_point.errors }}
  <div class="field">
    <label>{{ form.meeting_point.label }}</label>
    {{ form.meeting_point }}
  </div>
  {{ form.booking_content.errors }}
  <div class="field">
    <label>{{ form.booking_content.label }}</label>
    {{ form.booking_content }}
  </div>
  {{ form.booking_remark.errors }}
  <div class="field">
    <label>{{ form.booking_remark.label }}</label>
    {{ form.booking_remark }}
  </div>

  <button class="fluid ui primary button" type="submit" style="margin-bottom:10px;">{% trans 'Save changes' %}</button>
  <a href="{% url 'profiles:bookings' profile.user.username %}" class="fluid ui red button">{% trans 'Cancel' %}</a>
  <div class="ui error message">
  </div>
</form>

