{% extends "profiles/__profile_base.html" %}
{% load render_bundle from webpack_loader %}
{% block stylesheets %}
    {% render_bundle 'profiles/bookings' 'css' %}
{% endblock %}
{% block javascripts %}
    {% render_bundle 'profiles/bookings' 'js' %}
{% endblock %}

{% block content %}
    <div class="ui grid booking_grid">
      <div class="column">
        {% include 'bookings/__my_booking_list.html' %}
        {% if show_other_bookings %}
            {% include 'bookings/__other_booking_list.html' %}
        {% endif %}
      </div>
    </div>
{% endblock %} 
