{% extends "profiles/__profile_base.html" %}
{% load render_bundle from webpack_loader %}
{% block stylesheets %}
    {% render_bundle 'profiles/bookings' 'css' %}
{% endblock %}
{% block javascripts %}
    {% render_bundle 'profiles/bookings' 'js' %}
{% endblock %}

{% block extra_head %}
  <script>	
	var redactor_custom_options = {'imageManagerJson': '{% url "profiles:album" profile.user.username %}'};
  </script>
{% endblock %}

{% block content %}
    <div class="ui grid booking_add_grid">
      <div class="column">
        {% include 'bookings/__booking_one.html' %}
      </div>
    </div>
{% endblock %} 
