{% extends "core/__base.html" %}

{% load i18n %}

{% block body_class %}skin-blue layout-top-nav register-page simple-layout{% endblock %}

{% block title %}{% trans "Account activation failed." %}{% endblock %}

{% block content %}

  <h2>{% trans "Your account could not be activated..." %}</h2>

  <p>{% trans "Your account could not be activated. This could be because your activation link has aged or you have already acivated your account." %}</p>
  <p>{% trans "Please try signing up again or contact us if you think something went wrong." %}</p>

{% endblock %}