{% extends "core/__global.html" %}
{% load i18n %}

{% block title %}{% trans "Account re-activation succeeded." %}{% endblock %}
{% block content %}
<div class="ui padded grid middle aligned center aligned highly_adaptive">
	<div class="column">
		<h2>{% trans "Account re-activation" %}</h2>

		<p>{% blocktrans %}You requested a new activation of your account..{% endblocktrans %}</p>
		<p>{% blocktrans %}You have been sent an e-mail with an activation link to the supplied email.{% endblocktrans %}</p>
		<p>{% blocktrans %}We will store your signup information for {{ accounts_activation_days }} days on our server. {% endblocktrans %}</p>
	</div>
</div>
{% endblock %}