{% extends "core/__base.html" %}

{% load i18n %}

{% block body_class %}skin-blue layout-top-nav register-page simple-layout{% endblock %}

{% block title %}{% trans "Account re-activation succeeded." %}{% endblock %}

{% block content %}

  <h2>{% trans "Account re-activation" %}</h2>

<p>{% blocktrans %}You requested a new activation of your account..{% endblocktrans %}</p>
<p>{% blocktrans %}You have been sent an e-mail with an activation link to the supplied email.{% endblocktrans %}</p>
<p>{% blocktrans %}We will store your signup information for {{ accounts_activation_days }} days on our server. {% endblocktrans %}</p>

{% endblock %}