{% extends "core/__global.html" %}
{% load staticfiles i18n %}
{% load render_bundle from webpack_loader %}

{% block stylesheets %}
    {% render_bundle 'accounts/login' 'css' %}
{% endblock %}
{% block javascripts %}
    {% render_bundle 'accounts/login' 'js' %}
{% endblock %}

{% block content %}

<div class="ui grid login-content">
  <div class="column">
    <h2 class="ui center aligned header">
      <a href="{% url 'index' %}">{% trans 'Reismann' %}</a>
    </h2>
    <div class="ui segment">
      <h4 class="ui center aligned header">{% trans 'Sign in to start your session' %}</h4>
      <form class="ui form" action="" method="post">
        {% csrf_token %}
        
        {{ form.non_field_errors }}
        {{ form.identification.errors }}
        <div class="required field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            {{ form.identification }}
          </div>
        </div>
        {{ form.password.errors }}
        <div class="required field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            {{ form.password }}
          </div>
        </div>
        {{ form.remember_me.errors }}
        <div class="field" style="text-align:left">
          <div class="ui checkbox">
            {{ form.remember_me }} 
            <label>{% trans 'Remember Me' %}</label>
          </div>
          <button class="ui right floated blue button" type="submit">{% trans 'Sign In' %}</button>
        </div>
        <div class="ui error message">
        </div>
        {% if next %}<input type="hidden" name="next" value="{{ next }}">{% endif %}
      </form>

      <h5 class="ui center aligned header">{% trans '- OR -' %}</h5>

      <button class="fluid ui facebook button icon_button"><i class="facebook icon"></i> {% trans 'Sign in using Facebook' %} </button>
      <button class="fluid ui google plus button icon_button"><i class="google plus icon"></i> {% trans 'Sign in using Google' %} </button>

      <!-- <div class="ui header">{% trans '- OR -' %}</div> -->
      <a href="{% url 'password_reset' %}">{% trans 'I forgot my password' %}</a>
      </br>
      <a href="{% url 'accounts:register' %}" class="text-center">{% trans 'Register a new membership' %}</a>
    </div>
  </div>
</div>

{% endblock %}