{% extends 'core/__base.html' %}
{% load i18n %}

{% block body_class %}skin-blue layout-top-nav register-page simple-layout{% endblock %}

{% block title %}{% trans "Password reset email sent" %}{% endblock %}
{% block content_title %}<h2>{% trans "Password reset email sent" %}</h2>{% endblock %}

{% block content %}
<h2>{% trans "Email sent" %}</h2>
<p>{% trans "You will get an email which explains how to reset the password. Follow instructions and complete your password reset" %}</p>
{% endblock %}