{% extends 'core/__base.html' %}
{% load i18n %}
{% load url from future %}

{% block body_class %}skin-blue layout-top-nav register-page simple-layout{% endblock %}

{% block title %}{% trans "Password reset" %}{% endblock %}
{% block content_title %}<h2>{% trans "Your password has been reset" %}</h2>{% endblock %}
{% block content %}
<h2>{% trans "Log in now" %}</h2>
{% url 'accounts:login' as login_url %}
<p>{% blocktrans %}You can now <a href="{{ login_url }}">log in</a> with your new password.{% endblocktrans %}</p>

{% endblock %}