{% extends "core/__global.html" %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block stylesheets %}
    {% render_bundle 'accounts/password_reset_confirm' 'css' %}
{% endblock %}
{% block javascripts %}
    {% render_bundle 'accounts/password_reset_confirm' 'js' %}
{% endblock %}

{% block title %}{% trans "Reset password" %}{% endblock %}
{% block content %}
<div class="ui padded grid middle aligned center aligned highly_adaptive">
  <div class="column">
    <h2 class="ui center aligned header">
      <a href="{% url 'index' %}">{% trans 'Password reset' %}</a>
    </h2>
    <div class="ui segment">
      <h5 class="ui center aligned header">{% trans 'Confirm password reset' %}</h5>
      <form class="ui form" action="" method="post">
        {% csrf_token %}
        
        {{ form.non_field_errors }}
        {{ form.password.errors }}
        <div class="required field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            {{ form.password }}
          </div>
        </div>
        <button class="ui fluid blue button" type="submit">{% trans 'Reset password' %}</button>
        <div class="ui error message">
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}


