{% extends "core/__global.html" %}
{% load staticfiles i18n %}
{% load render_bundle from webpack_loader %}

{% block stylesheets %}
    {% render_bundle 'accounts/register' 'css' %}
{% endblock %}
{% block javascripts %}
    {% render_bundle 'accounts/register' 'js' %}
{% endblock %}

{% block content %}
<div class="ui grid register-content">
  <div class="column">
    <h2 class="ui center aligned header">
      <a href="{% url 'index' %}">{% trans 'Reismann' %}</a>
    </h2>
    <div class="ui segment">
      <h5 class="ui center aligned header">{% trans 'Register a new membership' %}</h5>
      <form class="ui form" action="" method="post">
        {% csrf_token %}
        
        {{ form.non_field_errors }}
        {{ form.username.errors }}
        <div class="required field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            {{ form.username }}
          </div>
        </div>
        {{ form.lastname.errors }}
        <div class="required field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            {{ form.last_name }}
          </div>
        </div>
        {{ form.firstname.errors }}
        <div class="required field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            {{ form.first_name }}
          </div>
        </div>
        {{ form.email.errors }}
        <div class="required field">
          <div class="ui left icon input">
            <i class="mail outline icon"></i>
            {{ form.email }}
          </div>
        </div>
        {{ form.password1.errors }}
        <div class="required field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            {{ form.password1 }}
          </div>
        </div>
        {{ form.password2.errors }}
        <div class="required field">
          <div class="ui left icon input">
            <i class="repeat icon"></i>
            {{ form.password2 }}
          </div>
        </div>
        {{ form.tos.errors }}
        <div class="field">
          <div class="ui checkbox">
            {{ form.tos }}
            {{ form.tos.label_tag }}
          </div>
        </div>
        <button class="fluid ui blue button" type="submit">{% trans 'Register' %}</button>
        <div class="ui error message">
        </div>
      </form>

      <p style="text-align:center;margin-top:8px;margin-bottom:8px;">{% trans '- OR -' %}</p>

      <button class="fluid ui facebook button icon_button"><i class="facebook icon"></i> {% trans 'Sign in using Facebook' %} </button>
      <button class="fluid ui google plus button icon_button"><i class="google plus icon"></i> {% trans 'Sign in using Google' %} </button>

      <a href="{% url 'accounts:login' %}" class="text-center">{% trans 'I already have a membership' %}</a>
    </div>
  </div>
</div>

<div class="ui modal">
  <div class="header">{% trans "Terms of usage" %}</div>
  <div class="content">
    <p>{% trans "Here are our terms of usage. Read carefully before registering on the website" %}</p>
  </div>
  <div class="actions">
    <div class="ui cancel button">{% trans "Close" %}</div>
  </div>
</div>
{% endblock %}