{% extends "core/__global.html" %}
{% load staticfiles i18n %}
{% load render_bundle from webpack_loader %}

{% block stylesheets %}
    {% render_bundle 'accounts/register' 'css' %}
{% endblock %}
{% block javascripts %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    {% render_bundle 'accounts/register' 'js' %}
{% endblock %}

{% block content %}
<div class="ui middle aligned grid register-content highly_adaptive">
  <div class="column">
    <h2 class="ui center aligned header">
      <a href="{% url 'index' %}">{% trans 'Reismann' %}</a>
    </h2>
    <div class="ui segment">
      <h4 class="ui center aligned header">{% trans 'Register a new membership' %}</h4>
      <form class="ui form" action="" method="post">
              
        {% include "accounts/__register_form.html" %}
        <button class="fluid ui brand_blue button" type="submit">{% trans 'Register' %}</button>
        <div class="ui error message">
        </div>
      </form>

      <p style="text-align:center;margin-top:8px;margin-bottom:8px;">{% trans '- OR -' %}</p>

      <button class="fluid ui facebook button icon_button"><i class="facebook icon"></i> {% trans 'Sign in using Facebook' %} </button>
      <button class="fluid ui google plus button icon_button"><i class="google plus icon"></i> {% trans 'Sign in using Google' %} </button>
    </div>
    <div class="ui center aligned segment">
      {% trans 'Have a membership?' %} <a href="{% url 'accounts:login' %}">{% trans 'Sign In' %}</a>
    </div>
  </div>
</div>
{% endblock %}