{% load i18n %}

<div class="ui blue segment contact_form">
  <h3 class="ui center aligned header">{% trans 'Edit contact' %}</h3>
  <form class="ui form" action="" method="post">
    {% csrf_token %}
    
    {{ form.non_field_errors }}
    {{ form.phone.error }}
    <div class="required field">
      <div class="ui left icon input">
        <i class="phone icon"></i>
        {{ form.phone }}
      </div>
    </div>
    {{ form.email.error }}
    <div class="required field">
      <div class="ui left icon input">
        <i class="mail outline icon"></i>
        {{ form.email }}
      </div>
    </div>
    {{ form.weibo.error }}
    <div class="required field">
      <div class="ui left icon input">
        <i class="weibo icon"></i>
        {{ form.weibo }}
      </div>
    </div>
    {{ form.wechat.error }}
    <div class="required field">
      <div class="ui left icon input">
        <i class="wechat icon"></i>
        {{ form.wechat }}
      </div>
    </div>
    {{ form.qq.error }}
    <div class="required field">
      <div class="ui left icon input">
        <i class="qq icon"></i>
        {{ form.qq}}
      </div>
    </div>
    {{ form.email_notifications.error }}
    <div class="field">
      <div class="ui checkbox">
        {{ form.email_notifications}}
        {{ form.email_notifications.label_tag }}
      </div>
    </div>
    <button class="fluid ui brand_blue button" type="submit" style="margin-bottom:10px;">{% trans 'Save changes' %}</button>
    <a href="{% url 'profiles:dashboard' profile.user.username %}" class="fluid ui red button">{% trans 'Cancel' %}</a>
    <div class="ui error message">
    </div>
  </form>
</div>

