{% load i18n %}

<h2 class="ui center aligned header new_city_h2">{% trans 'New cities' %}</h2>

<div class="ui three column stackable doubling grid container city_content">
  {% for city in newcomer_cities %}
    <div class="column">
    	<div class="ui basic segment" style="padding:0px;">
		  <a href="cities/show/{{ city.name }}" class="city_map" style="background-image: url('{{ city.card_image.url }}');">
	        <span class="title_map">{{ city.name }}</span>
	      </a>
	    </div>
    </div>
  {% endfor %}
</div>


