{% load i18n %}

<h2 class="ui center aligned header popular_city_h2">
	<i class="icons">
	  	<i class="world fitted icon"></i>
	</i>
	{% trans 'Popular cities' %}
</h2>
<div class="ui three column stackable doubling grid container city_content">
  {% for city in popular_cities %}
    <div class="column">
    	<div class="ui basic segment" style="padding:0px;">
			<a href="cities/show/{{ city.name }}" class="city_map" style="background-image: url('{{ city.card_image.url }}');">
		        <span class="title_map">{{ city.name }}</span>
		    </a>
    	</div>
    </div>
  {% endfor %}
</div>

