{% extends "core/__global.html" %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block stylesheets %}
  {% render_bundle 'cities/city' 'css' %}
{% endblock %}
{% block javascripts %}
  <script type="text/javascript">
    $.ajaxSetup({
      data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });
  </script>
  {% render_bundle 'cities/city' 'js' %}
{% endblock %}

{% block content %}
<div class="city_img" style="background-image: url('{{ banner_image.url }}');"></div>
<div class="ui segment search_form">
  <br>
  <div class="ui doubling grid container">
    <div class="sixteen wide tablet four wide computer column">
      <label><b>{% trans 'Service category' %}</b></label>
    </div>
    <div class="sixteen wide tablet twelve wide computer column">
      <div class="ui grid">
        <div class="column">
          {{ form.category }}
        </div>
      </div>
    </div>
    <div class="sixteen wide tablet four wide computer column">
      <label><b>{% trans 'Service people' %}</b></label>
    </div>
    <div class="sixteen wide tablet twelve wide computer column">
      <div class="ui grid">
        <div class="sixteen wide tablet five wide computer column">
          {{ form.gender }}
        </div>

        <div class="seven wide tablet five wide computer column" style="padding-right:0px;">
          <select name="min_age" class="ui search fluid dropdown" id="min_age">
            <option value="" selected="selected">min age</option>
            <option value="all">irrelevant</option>
            <option value="2">2</option>
            <option value="4">4</option>
            <option value="6">6</option>
            <option value="8">8</option>
            <option value="10">10</option>
            <option value="12">12</option>
            <option value="14">14</option>
            <option value="16">16</option>
            <option value="18">18</option>
            <option value="20">20</option>
            <option value="22">22</option>
            <option value="24">24</option>
            <option value="26">26</option>
            <option value="28">28</option>
            <option value="30">30</option>
            <option value="32">32</option>
            <option value="34">34</option>
            <option value="36">36</option>
            <option value="38">38</option>
            <option value="40">40</option>
            <option value="42">42</option>
            <option value="44">44</option>
            <option value="46">46</option>
            <option value="48">48</option>
            <option value="50">50</option>
          </select>
        </div>
        <div class="two wide tablet one wide computer center aligned middle aligned column" style="padding-left:0px;padding-right:0px;">
          <i class="icon minus" ></i>
        </div>
        <div class="seven wide tablet five wide computer column" style="padding-left:0px;">
          <select name="max_age" class="ui search fluid dropdown" id="max_age">
            <option value="" selected="selected">max age</option>

            <option value="all">irrelevant</option>
            <option value="2">2</option>
            <option value="4">4</option>
            <option value="6">6</option>
            <option value="8">8</option>
            <option value="10">10</option>
            <option value="12">12</option>
            <option value="14">14</option>
            <option value="16">16</option>
            <option value="18">18</option>
            <option value="20">20</option>
            <option value="22">22</option>
            <option value="24">24</option>
            <option value="26">26</option>
            <option value="28">28</option>
            <option value="30">30</option>
            <option value="32">32</option>
            <option value="34">34</option>
            <option value="36">36</option>
            <option value="38">38</option>
            <option value="40">40</option>
            <option value="42">42</option>
            <option value="44">44</option>
            <option value="46">46</option>
            <option value="48">48</option>
            <option value="50">50</option>
          </select>
        </div>
      </div>
    </div>
    <div class="sixteen wide tablet four wide computer column">
      <label><b>{% trans 'Service cities' %}</b></label>
    </div>
    <div class="sixteen wide tablet twelve wide computer column">
      <div class="ui grid">
        <div class="column">
          {{ form.city }}
        </div>
      </div>
    </div>
    <div class="row hidden_content" style="display: none;">
      <div class="sixteen wide tablet four wide computer column hidden">
        <label><b>{% trans 'Provider languages' %}</b></label>
      </div>
      <div class="sixteen wide tablet twelve wide computer column hidden">
        {{ form.languages }}
      </div>

      <div class="sixteen wide tablet four wide computer column hidden">
        <label><b>{% trans 'Provider tags' %}</b></label>
      </div>
      <div class="sixteen wide tablet twelve wide computer column hidden">
        {{ form.tags }}
      </div>
    </div>
  </div>
  <br>
</div>
<div class="ui grid container search_button">
  <div class="row search_head" style="padding-left: 14px !important;">
    <button class="ui primary button more_select"> {% trans "More options" %}</button>
    <button class="ui primary button submit submit_button">{% trans "Search" %}</button>
  </div>
  <p class="serveice_num_p" {% if results|length == 0 %}style="display:none"{% endif %}>{% trans "Have found " %} <span class="services_num"> {{ results|length }}</span>{% trans " providers" %}</p>
  
</div>
<div class="ui three column stackable doubling grid container search_profile" id="profile_content">
  {% if results|length == 0 %}
    <h4>No result,please search again!</h4>
  {% endif %}
  {% include "cities/widgets/__search_profile.html" %}
</div>

<div class="ui grid container more_loaders"{% if results|length <= 21 %} style="display:none" {% endif %}>
  <div class="row">
    <button class="large ui fluid center aligned black button more_loader">加载更多</button>
  </div>
</div>
<br>
{% endblock %}


 