{% extends "core/__global.html" %}
{% load render_bundle from webpack_loader %}

{% block stylesheets %}
  {% render_bundle 'cities/city' 'css' %}
{% endblock %}
{% block javascripts %}
  {% render_bundle 'cities/city' 'js' %}
{% endblock %}

{% block content %}
<div class="city_img"></div>
<!-- <div class="ui  grid"> -->
  <form class="ui form">
    <div class="fields">
      <div class="four wide field">
        <label>服务类型</label>
      </div>
      <div class="twelve wide fields">
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" tabindex="0" class="hidden">
            <label>Checkbox</label>
          </div>
        </div>
      </div>
    </div>
  </form>

<!-- </div> -->

{% endblock %}