.ui.container {
  max-width: 950px !important; }

body {
  font-family: "Microsoft YaHei",Verdana,"Bitstream Vera Sans",sans-serif; }

.all_buttons .ui.button {
  margin: 0.3rem 0;
  width: 31%;
  max-width: 110px;
  text-align: center;
  font-weight: normal;
  padding: 0.72571429em 1.2em;
  font-size: 0.9rem; }

.all_buttons .ui.brand_blue.button {
  background-color: #428bca;
  border-color: #357ebd; }
  .all_buttons .ui.brand_blue.button:hover {
    background-color: #3071a9;
    border-color: #285e8e; }

.all_buttons .ui.brand.button {
  background-color: #FF5026;
  border-color: #FF5026;
  opacity: 0.8; }
  .all_buttons .ui.brand.button:hover {
    opacity: 1; }

.ui.table {
  font-size: 0.9em; }
  .ui.table tbody tr {
    cursor: pointer; }

.ui.label {
  font-weight: normal; }

.grey_and_bold {
  color: #999;
  font-weight: 700; }

.ui.label.equal_width {
  text-align: center; }

.ui.comments {
  max-width: 100%; }
  .ui.comments .content .ui.rating {
    padding-left: 10px; }

.ui.grid.profile_content {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.ui.segment.profiles_services {
  margin-bottom: 40px;
  padding-left: 1.5rem; }
  .ui.segment.profiles_services .ui.grid > .column {
    padding-left: 0rem;
    padding-top: 0rem; }
  .ui.segment.profiles_services .ui.label {
    padding: 4px 6px; }

.ui.segment.profile_info .ui.blue.segment {
  padding-bottom: 30px; }

.ui.segment.profile_info .right_absolute {
  position: absolute;
  right: 1rem; }

.ui.segment.profile_info .ui.divided.items > .item {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.ui.segment.profile_info .h_content h1, .ui.segment.profile_info .h_content h2, .ui.segment.profile_info .h_content h3, .ui.segment.profile_info .h_content h4, .ui.segment.profile_info .h_content h5 {
  margin: 0.5rem 0; }

.ui.segment.profile_info .h_content h2 {
  margin-top: 0rem; }

.ui.segment.all_services {
  margin-bottom: 2rem; }
  .ui.segment.all_services .ui.divided.items > .item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }
  .ui.segment.all_services .ui.label {
    padding: 4px 6px;
    margin-bottom: 5px; }

.ui.page.grid {
  padding-left: 8%;
  padding-right: 8%; }
