{% load render_bundle from webpack_loader %}
{% load i18n %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    {% block meta_tags %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    {% render_bundle 'global' 'css' %}
    {% render_bundle 'profiles/profile_base' 'css' %}
    {% block stylesheets %}{% endblock %}
    {% block header_javascripts %}{% endblock %}
    {% block extra_head %}{% endblock %}
</head>

<body id="home">
    {% block header %}{% include "core/header/__header_with_sidebar_new.html" %}{% endblock %}
    {% block sidebar %}{% endblock %}
    {% block content %}{% endblock %}
    <!-- {% block footer %}{% include "core/footer/__footer_new.html" %}{% endblock %} -->

    {% render_bundle 'global' 'js' %}
    {% render_bundle 'profiles/profile_base' 'js' %}
    {% block javascripts %}{% endblock %}
</body>
</html>