{% load staticfiles i18n %}
<div class="ui padded grid banner">
  <div class="banner_img">
    <div class="banner_img_copy">
    </div>
    <div class="ui centered aligned grid transition information hidden">
      <div class="row">
        <h1 class="ui inverted header tagline">
          {% trans "Your new travel experiences" %}
        </h1>
      </div>
      <div class="row" style="padding:0px;">
        <h4 class="ui inverted header subheadline">{% trans "book your individual travel services" %}</h4>
      </div>
      <script type="text/javascript">
        var content = [
         {% for city in city_list %}
           { title: "{{city.name}}" },
         {% endfor %}  
        ];
      </script>
      <div class="row">
        <div class="ui action input" style="margin-bottom:18px;">
          <div class="ui search">
            <div class="ui icon input">
              <input class="prompt" type="text" placeholder="Select city...">
            </div>
            <div class="results left_aligned"></div>
          </div>
          <a href="/cities/show/all/" class="further_serrch">further search</a>
        </div>
        <div class="ui brand button  search_but">
          <i class="search icon"></i>
          <span class="disnone_mobile" style="font-size:16px;">{% trans "search" %}</span>
        </div>
      </div>
    </div>
  </div>
</div>



