{% load staticfiles i18n %}

<section class="banner banner-big banner-with-content">
  <div class="banner-background background-image banner"
       style="background-image:url('{% static "images/dummy/banner.jpg" %}');">
    <div class="search">
      <div class="boss text-center tagline">{% trans 'Your new travel experiences' %}</div>
      <div class="subheadline text-center tagline">{% trans 'book your individual travel services' %}</div>
      <form action="">
        <input type="text" placeholder="{% trans 'search placeholder' %}">
        <button class="btn btn-brand btn-flat" type="submit">
          <span>{% trans 'search' %}</span>
          <i class="fa fa-arrow-circle-right"></i>
        </button>
      </form>
    </div>
  </div>
</section>
