{% extends "core/__global.html" %}
{% load render_bundle from webpack_loader %}

{% block stylesheets %}
    {% render_bundle 'core/index' 'css' %}
{% endblock %}
{% block javascripts %}
    {% render_bundle 'core/index' 'js' %}
{% endblock %}

{% block content %}
    {% include "core/__index_banner.html" %}

    {% if popular_profiles|length > 0 %}
    {% include 'profiles/__popular_profiles.html' with popular_profiles=popular_profiles %}
    {% endif %}

    {% if newcomer_profiles|length > 0 %}
    {% include 'profiles/__newcomer_profiles.html' with newcomer_profiles=newcomer_profiles %}
    {% endif %}

    <div class="ui segment" style="border:0px;margin-bottom:0px;">
        {% if newcomer_cities|length > 0 %}
        {% include 'cities/__newcomer_cities.html' with newcomer_cities=newcomer_cities %}
        {% endif %}

        {% if popular_cities|length > 0 %}
        {% include 'cities/__popular_cities.html' with popular_cities=popular_cities %}
        {% endif %}
    </div>

    <div class="ui animated large fade button fixed_position" tabindex="0">
      <div class="visible content">Top</div>
      <div class="hidden content">
        <i class="angle up icon"></i>
      </div>
    </div>
{% endblock %}