{% extends "core/__base.html" %}

{% block content %}

  {% include "core/__index_banner.html" %}

  {% if popular_profiles|length > 0 %}
    {% include 'profiles/__popular_profiles.html' with popular_profiles=popular_profiles %}
  {% endif %}

  {% if newcomer_profiles|length > 0 %}
    {% include 'profiles/__newcomer_profiles.html' with newcomer_profiles=newcomer_profiles %}
  {% endif %}

  {% if newcomer_cities|length > 0 %}
    {% include 'cities/__newcomer_cities.html' with newcomer_cities=newcomer_cities %}
  {% endif %}

    {% if popular_cities|length > 0 %}
    {% include 'cities/__popular_cities.html' with popular_cities=popular_cities %}
  {% endif %}

{% endblock %}