{% extends "core/__global.html" %}
{% load render_bundle from webpack_loader %}

{% block stylesheets %}
    {% render_bundle 'core/index' 'css' %}
{% endblock %}
{% block javascripts %}
    {% render_bundle 'core/index' 'js' %}
{% endblock %}

{% block content %}
    {% include "core/__index_banner_new.html" %}

    {% if popular_profiles|length > 0 %}
    {% include 'profiles/__popular_profiles_new.html' with popular_profiles=popular_profiles %}
    {% endif %}

    {% if newcomer_profiles|length > 0 %}
    {% include 'profiles/__newcomer_profiles_new.html' with newcomer_profiles=newcomer_profiles %}
    {% endif %}

    {% if newcomer_cities|length > 0 %}
    {% include 'cities/__newcomer_cities_new.html' with newcomer_cities=newcomer_cities %}
    {% endif %}

    {% if popular_cities|length > 0 %}
    {% include 'cities/__popular_cities_new.html' with popular_cities=popular_cities %}
    {% endif %}
{% endblock %}