.row-space-1 {
  padding-bottom: 1rem;
}

.row-space-2 {
  padding-bottom: 1rem;

  @include MQ(M) {
    padding-bottom: 2rem;
  }
}

.row-space-3 {
  padding-bottom: 2rem;

  @include MQ(M) {
    padding-bottom: 3rem;
  }
}

.row-space-top-1 {
  padding-top: 1rem;
}

.row-space-top-2 {
  padding-top: 1rem;

  @include MQ(M) {
    padding-top: 2rem;
  }
}

.row-space-top-3 {
  padding-top: 2rem;

  @include MQ(M) {
    padding-top: 3rem;
  }
}

.no-padding-right-sm {
  @include MQ(M) {
    padding-right: 0;
  }
}

.no-padding-right-md {
  @include MQ(L) {
    padding-right: 0;
  }
}