.ui.grid.album_grid {
	max-width: 800px;
	margin: 80px auto;
}

.ui.error.message .errorlist {
  padding-left: 14px;
}


.image_css {
	position: relative;
	max-width: 220px;
	max-height: 220px;
	margin: 0 auto;
	.image_checkbox {
		position: absolute;
		bottom: 10px;
		right: 10px;
	}
	.icon_block {
		position: absolute;
		top: 10px;
		left: 10px;
		.ui.label .icon {
			margin-right: 1px;
		}
	}
}