.ui.grid.dashboard_grid {
	max-width: 700px;
	margin: 80px auto;
}

.ui.segment.profile_info {
	.ui.blue.segment {
		padding-bottom: 20px;
	}
	.right_absolute {
		position: absolute;
		right: 1rem;
	}
	.ui.divided.items>.item {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}
}

.ui.segment.all_services {
	margin-bottom: 2.5rem;
	.ui.divided.items>.item {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}
	.ui.label {
		padding: 6px 9px;
		margin-bottom: 5px;
	}
}