.ui.grid.dashboard_grid {
	max-width: 850px;
	margin: 80px auto;
	.ui.divider {
		margin-top: 0.5rem;
		margin-bottom: 0rem;
	}
	.ui.label.right.ribbon  {
		font-weight: normal;
	    padding: 0.4233em 0.833em;
	    margin-top: 13px;
	    margin-bottom: 10px;
	}
	.ui.table.personal_table {
		margin: 0.2rem 0;
		tbody tr td {
			border: 0px;
			padding-bottom: 0px;
		}
	}
}




.all_buttons {
	.ui.button {
		margin: 0.3rem 0;
		width: 31%;
		max-width: 110px;
	    text-align: center;
	    font-weight: normal;
	    padding: 0.72571429em 1.2em;
        font-size: 0.9rem;
	}
	.ui.brand_blue.button {
		background-color: #428bca;
	    border-color: #357ebd;
	    &:hover {
	    	background-color: #3071a9;
		    border-color: #285e8e;
	    }
	}
	.ui.brand.button {
		background-color: #FF5026;
	    border-color: #FF5026;
	    opacity: 0.8;
	    &:hover {
	    	opacity: 1;
	    }
	}
}

.ui.grid.big_icon_grid {
	.column {
		padding: 1rem 0.5rem;
	}
	.inverted.segment {
		cursor: pointer;
	}
}


.ui.segment.noti_segment {
	padding: 1rem 1rem 1rem 3rem;
	h3.grey_and_bold {
		margin-left: -2rem;
	}
	span, .ui.checkbox {
		margin-right: 1rem;
	}
	.checkbox_icon {
		display: inline-block;
		margin-top: -14px;
	    vertical-align: middle;
		.ui.checkbox.select_checkbox {
			margin-left: -2rem;
			margin-right: 0rem;
			margin-bottom: 3px;
		}
		.icon.mail_icon {
			font-size: 2.5em;
		}
	}
	.email_image {
		width: 52px;
		height: 52px;
	}
	.ui.table {
		margin-top: 0px;
		.inline-block-css {
			color: rgba(0,0,0,.87);
			padding-left: 0.3rem;
			h4 {
				i.icon.disnone {
				  display: none;
				}
				margin-bottom: 0.5rem;
				margin-top: 0.3rem;
			}
		}
		.read_opacity {
			opacity: 0.8;
		}
		.not_show_on_mobile {
			color: rgba(0,0,0,.87);
			position:absolute;
			right:0px;
		}
	}
}




@import '../../base/responsive';
@import '../../base/mixins';

/*--------------
    responsive
---------------*/
.ui.grid .column.div_avatar {
	@include GT(S) {
	  padding: 0px;
	  padding-left: 10px;
	}
	.ui.image {
		box-shadow: #333333 1px 1px 20px 0;margin-top:10px;
		@include GT(S) {
		  margin-top: 1.2rem;
		}	
	}
}
.ui.segment.noti_segment {
	.ui.top.left.pointing.dropdown>.menu {
		@include GT(S) {
		  left: auto;
	      right: 0;
		}	
	}
	.ui.top.left.pointing.dropdown>.menu:after {
	    @include GT(S) {
		  left: auto;
	      right: 1em;
		}
	}

	.ui.table .inline-block-css {
		h4 {
			i.icon.disnone {
			  	@include GT(S) {
				  	display: inline;
				}
			}
		}
	}

	.checkbox_icon {
		.icon.mail_icon {
			@include GT(S) {
			  display: none;
			}	
		}
	}
	.ui.table.notification_table {
		tr {
			@include GT(S) {
			  padding: 0px;
			}
			td {
				@include GT(S) {
				    padding: 4px 0px !important;
				}
			}
		}
	}
}

.ui.table.personal_table {
	@include GT(S) {
	  font-size: 0.6em;
	}	
	.ui.label {
		padding: 0.25em 0.4em;
	}
	tr {
		td {
			@include GT(S) {
			  padding-left: 0px;
			}	
		}
	} 
	.grey_and_bold {
		@include GT(S) {
		  display: none;
		}	
	}
}

.all_buttons {
	@include GT(S) {
	  text-align: center;
	}	
	.ui.button {
		@include GT(S) {
		  width: 49%;
		  max-width: 50%;
		}	
	}
}
.not_show_on_mobile {
	@include GT(S) {
	  display: none;
	}	
}

.disnone_mobile {
	@include GT(S) {
	  display: none;
	}	
}

.ui.grid>.column:not(.row).display_mobile {
	display: none;
	padding-top: 0rem;
	@include GT(S) {
	  display: block;
	}	
}