.ui.grid.detail_grid {
	max-width: 900px;
	margin: 80px auto;
}

.ui.segment.profile_form {
	margin-bottom: 2.5rem;
	#id_avatar, #id_card_image {
		margin-bottom: 10px;
	}
	ul.errorlist {
		list-style: none;
		-webkit-padding-start: 0; 
		li {
			color: #dd4b39; 
		}
	}
}
