.ui.segment.profile_form {
	max-width: 700px;
	margin-top: 80px;
	margin-bottom: 2.5rem;
	#id_avatar, #id_card_image {
		margin-bottom: 10px;
	}
	ul.errorlist {
		list-style: none;
		-webkit-padding-start: 0; 
		li {
			color: #dd4b39; 
		}
	}
}



// .register-content {
// 	.icon_button {
// 		margin-bottom: 8px;
// 		text-align: left;
// 	}
// 	.ui.error.message {
// 		margin-top: 25px;
// 	}
	
// }