body {
	background-color: rgb(243, 243, 243);
}

.ui.inverted.sidebar {
	margin-top: 49px !important;
}




.ui.segment.profile_info {
	margin-top: 1rem;
	.right_absolute {
		position: absolute;
		right: 1rem;
	}
	.ui.divided.items>.item {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}
}

.ui.segment.all_services {
	margin-bottom: 2rem;
	.ui.divided.items>.item {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}
	.ui.label {
		padding: 6px 9px;
	}
}