.ui.container {
	max-width: 950px!important;
}

body {
	font-family: "Microsoft YaHei",Verdana,"Bitstream Vera Sans",sans-serif;
}

.all_buttons {
	.ui.button {
		margin: 0.3rem 0;
		width: 31%;
		max-width: 110px;
	    text-align: center;
	    font-weight: normal;
	    padding: 0.72571429em 1.2em;
        font-size: 0.9rem;
	}
	.ui.brand_blue.button {
		background-color: #428bca;
	    border-color: #357ebd;
	    &:hover {
	    	background-color: #3071a9;
		    border-color: #285e8e;
	    }
	}
	.ui.brand.button {
		background-color: #FF5026;
	    border-color: #FF5026;
	    opacity: 0.8;
	    &:hover {
	    	opacity: 1;
	    }
	}
}

.ui.table {
	font-size: 0.9em;
	tbody tr {
		cursor: pointer;
	}
}

.grey_and_bold {
	color: #999;
	font-weight: 700;
}


#galleria {
 	width:450px; 
 	height:600px;
 	margin:0px auto
}

.galleria-thumbnails {
	margin: 0 auto;
}

.galleria-container {
	background-color: transparent;
}

.unslider {
	margin: 0 auto;
	text-align: center;
	max-width: 550px;
	.unslider-nav {
		margin-top: 15px;
	}
	.unslider-arrow {
		display: block;
		width: 32px;
		height: 32px;

		top: 50%;
		right: 5px;
		left: auto;
		margin-top: -16px;

		overflow: hidden;

		background: rgba(0,0,0,.2) no-repeat 50% 50%;
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAQCAQAAABuQZ3IAAAAi0lEQVR4AU3OISBEQQBAwS0AACS9NxqQgCZpkiYBVddFvWhAAUABAPQCAGC4g/0vTnrBqCfDIZl70J+kMUBPpEwT4FNXxBxz4F1HxHyr4EVTxBLb4EFNxEon4CJSlVNw9AcV9sC16h8osgke1P1ArgXwouVvdQq86ww/GQefusNf7kBviBlxpT8k+gL/Wox4r1d4MwAAAABJRU5ErkJggg==');
		background-size: 7px 11px;

		border-radius: 32px;
		text-indent: -999em;

		opacity: .6;
		transition: opacity .2s;
	}
	.unslider-arrow:hover {
		opacity: 1;
	}
	.unslider-arrow.prev {
		left: 5px;
		right: auto;
		-ms-transform: rotate(-180deg);
		transform: rotate(-180deg);
	}
}




.ui.label.equal_width {
	text-align: center;
}


.ui.grid.profile_content {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.ui.comments {
	max-width: 100%;
	.content .ui.rating {
		padding-left: 10px;
	}
}

.ui.dimmer {
	background-color: rgba(32, 34, 34, 0.33);
}

.register-content, .message-content {
	ul.errorlist {
		list-style: none;
		-webkit-padding-start: 0; 
		li {
			color: #dd4b39; 
		}
	}
}

.ui[class*="very basic"].table:not(.sortable):not(.striped) td:first-child, .ui[class*="very basic"].table:not(.sortable):not(.striped) th:first-child {
	padding-left: 9px;
}
.ui[class*="very basic"].table:not(.sortable):not(.striped) td:last-child, .ui[class*="very basic"].table:not(.sortable):not(.striped) th:last-child {
	padding-right: 9px;
}

.disnone, .disnone.ui.label {
	display: none;
}




@import '../../base/responsive';
@import '../../base/mixins';

/*--------------
    responsive
---------------*/
// .ui.small.image {
// 	@include GT(S) {
// 	  width: 100%;
// 	}
// }
.ui.comments .comment .rate_date {
	@include GT(S) {
	  display: none;
	}	
}

.ui.segment.third_segment {
	@include GT(S) {
	  padding: 0px;
	}	
}