body {
	font-family: "Microsoft YaHei",Verdana,"Bitstream Vera Sans",sans-serif;
}

.ui.container {
	max-width: 950px!important;
}

.grey_and_bold {
	color: #999;
	font-weight: 700;
}

.disnone, .disnone.ui.label {
	display: none;
}

.ui.table {
	font-size: 0.9em;
}

.ui.table.personal_table {
	margin: 0.2rem 0;
	tbody tr td {
		border: 0px;
		padding-bottom: 0px;
	}
}

.all_buttons {
	.ui.button {
		margin: 0.3rem 0;
		width: 31%;
		max-width: 110px;
	    text-align: center;
	    font-weight: normal;
	    padding: 0.72571429em 1.2em;
        font-size: 0.9rem;
	}
	.ui.brand_blue.button {
		background-color: #428bca;
	    border-color: #357ebd;
	    &:hover {
	    	background-color: #3071a9;
		    border-color: #285e8e;
	    }
	}
	.ui.brand.button {
		background-color: #FF5026;
	    border-color: #FF5026;
	    opacity: 0.8;
	    &:hover {
	    	opacity: 1;
	    }
	}
}

.ui.segment.info_segment {
	.ui.tab.segment.attached {
		border: 0px;
	}
	.ui.popup {
		padding:0px;
		.table {
			margin-top:0px;
			tbody tr {
				cursor: pointer;
			}
		}
		.ui[class*="very basic"].table:not(.sortable):not(.striped) td:first-child, .ui[class*="very basic"].table:not(.sortable):not(.striped) th:first-child {
			padding-left: 9px;
		}
		.ui[class*="very basic"].table:not(.sortable):not(.striped) td:last-child, .ui[class*="very basic"].table:not(.sortable):not(.striped) th:last-child {
			padding-right: 9px;
		}
	}

	.unslider {
		margin: 0 auto;
		text-align: center;
		max-width: 550px;
		.unslider-nav {
			margin-top: 15px;
		}
		.unslider-arrow {
			display: block;
			width: 32px;
			height: 32px;

			top: 45%;
			right: 5px;
			left: auto;
			margin-top: -16px;

			overflow: hidden;

			background: rgba(0,0,0,.2) no-repeat 50% 50%;
			background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAQCAQAAABuQZ3IAAAAi0lEQVR4AU3OISBEQQBAwS0AACS9NxqQgCZpkiYBVddFvWhAAUABAPQCAGC4g/0vTnrBqCfDIZl70J+kMUBPpEwT4FNXxBxz4F1HxHyr4EVTxBLb4EFNxEon4CJSlVNw9AcV9sC16h8osgke1P1ArgXwouVvdQq86ww/GQefusNf7kBviBlxpT8k+gL/Wox4r1d4MwAAAABJRU5ErkJggg==');
			background-size: 7px 11px;

			border-radius: 32px;
			text-indent: -999em;

			opacity: .6;
			transition: opacity .2s;
		}
		.unslider-arrow:hover {
			opacity: 1;
		}
		.unslider-arrow.prev {
			left: 5px;
			right: auto;
			-ms-transform: rotate(-180deg);
			transform: rotate(-180deg);
		}
	}
}


.ui.label.equal_width {
	text-align: center;
}


.ui.comments {
	max-width: 100%;
	.content .ui.rating {
		padding-left: 10px;
	}
}


.ui.dimmer {
	background-color: rgba(32, 34, 34, 0.33);
}

.register-content, .message-content {
	ul.errorlist {
		list-style: none;
		-webkit-padding-start: 0; 
		li {
			color: #dd4b39; 
		}
	}
}







@import '../../base/responsive';
@import '../../base/mixins';

/*--------------
    responsive
---------------*/
.ui.container.profile_home {
	.ui.large.breadcrumb {
		margin-left: 1rem;
		margin-top: 1rem;
	}
	@include GT(S) {
	  margin: 0px!important;
	}
}
.ui.grid .column.div_avatar {
	@include GT(S) {
	  padding: 0px;
	  padding-left: 10px;
	}
	.ui.image {
		box-shadow: #333333 1px 1px 20px 0;margin-top:10px;
		@include GT(S) {
		  margin-top: 1.2rem;
		  // width: 100%;
		}	
	}
}
.ui.table.personal_table {
	@include GT(S) {
	  font-size: 0.6em;
	}	
	.ui.label {
		padding: 0.25em 0.4em;
	}
	tr td {
		@include GT(S) {
		  padding-left: 0px;
		}	
	}
	.grey_and_bold {
		@include GT(S) {
		  display: none;
		}	
	}
}
.ui.comments .comment .rate_date {
	@include GT(S) {
	  display: none;
	}	
}

.ui.segment.third_segment {
	@include GT(S) {
	  padding: 0px;
	}	
}

.disnone_mobile {
	@include GT(S) {
	  display: none;
	}	
}

.ui.grid>.column:not(.row).display_mobile {
	display: none;
	padding-top: 0rem;
	@include GT(S) {
	  display: block;
	}	
}

.all_buttons .ui.button {
	@include GT(S) {
		max-width: 200px;
		width: 32%;
	}	
}