body, body.pushable>.pusher {
	background-color: rgb(243, 243, 243);
}

.ui.inverted.sidebar {
	margin-top: 49px !important;
}


.position-fixed {
	position: fixed;
	top: 0px;
	height: 50px;
	width: 100%;
	z-index: 100;
	.reismann_logo {
		width: 158px;
		a {
			padding-left: 12px;
		}
	}
}

.ui.visible.left.sidebar~.fixed, .ui.visible.left.sidebar~.pusher {
    -webkit-transform: translate3d(157px,0,0);
    transform: translate3d(157px,0,0);
}


@import '../../base/responsive';
/*--------------
    responsive
---------------*/
.masthead .fixed_h .right.menu > .mobile.item {
  display: none;
  @include MQ(M) {
    display: none;
  }
}