body {
  background-color: #f3f3f3; }

.ui.padded.grid.highly_adaptive .column {
  width: 400px; }

.highly_adaptive .icon_button {
  margin-bottom: 8px;
  text-align: left; }

.highly_adaptive .ui.error.message {
  margin-top: 25px; }

.highly_adaptive ul.errorlist {
  list-style: none;
  -webkit-padding-start: 0; }
  .highly_adaptive ul.errorlist li {
    color: #dd4b39; }
