{% extends "core/__global.html" %}
{% load i18n %}

{% block title %}{% trans "404 Error Page" %}{% endblock %}
{% block content %}
<div class="ui padded grid middle aligned center aligned highly_adaptive">
  <div class="column">
    <h2><span style="font-size:90px;color:#FBBD08;">404</span><i class="warning sign yellow icon"></i> {% trans 'Oops! Page not found.' %}</h2>

    <p>
      {% trans 'We could not find the page you were looking for.' %}
      {% trans 'Meanwhile, you may' %}
      <a href="{% url 'index' %}">{% trans 'return to homepage' %}</a>.
    </p>
  </div>
</div>
{% endblock %}