{% extends "core/__base.html" %}

{% load i18n %}

{% block header %}

  {% include "core/header/__header.html" %}

{% endblock %}

{% block content %}

  <div class="content-wrapper">

    <section class="content-header">
      <h1>{% trans '404 Error Page' %}</h1>
    </section>

    <section class="content">
      <div class="error-page">
        <div class="headline text-yellow">404</div>
        <div class="error-content">
          <h3><i class="fa fa-warning text-yellow"></i> {% trans 'Oops! Page not found.' %}</h3>
          <p>
            {% trans 'We could not find the page you were looking for.' %}
            {% trans 'Meanwhile, you may' %}
            <a href="{% url 'index' %}">{% trans 'return to homepage' %}</a>.
          </p>
        </div>
      </div>
    </section>

  </div>

{% endblock %}