{% extends "core/__global.html" %}
{% load i18n %}

{% block title %}{% trans "500 Error Page" %}{% endblock %}
{% block content %}
<div class="ui padded grid middle aligned center aligned highly_adaptive">
  <div class="column">
    <h2><span style="font-size:90px;color:#DB2828;">500</span><i class="warning sign red icon"></i> {% trans 'Oops! Something went wrong.' %}</h2>

    <p>
      {% trans 'We will work on fixing that right away.' %}
      {% trans 'Meanwhile, you may' %}
      <a href="{% url 'index' %}">{% trans 'return to homepage' %}</a>.
    </p>
  </div>
</div>
{% endblock %}