{% load i18n %}

<div class="ui segment">
  <img class="ui tiny circular left floated image" src="{{ profile.get_avatar_url }}" alt="{% trans 'user profile avatar' %}">

  <div style="padding-left:100px;padding-top:10px;">
    <h3 class="ui header">{{ profile.get_full_name_or_username }}</h3>
    {% if profile.short_description %}
      <h5>{{ profile.short_description }}</h5>
    {% endif %}
    {% if profile.age or profile.location %}
      <p>
        {% if request.user.is_authenticated %}{% if profile.age %}
          {{ profile.age }} {% trans 'years old' %}{% endif %}
          {% if profile.location %}  {% endif %}
        {% endif %}
        {% if profile.location %}
          {% trans 'from' %} {{ profile.location.get_full_location }}
        {% endif %}
      </p>
    {% endif %}
    {% if request.user.is_authenticated %}
        {% if profile.member_since %}
          <p>{{ profile.member_since }}</p>
        {% endif %}
    {% endif %}
    {% if profile.bio %}
      <p>{{ profile.bio }}</p>
    {% endif %}
  </div>
</div>
