{% load i18n %}

<form class="ui form message_write_form" action="" enctype="multipart/form-data" method="post">
  {% csrf_token %}
  
  {{ form.non_field_errors }}
  {{ form.recipient.errors }}
  <div class="field">
    <label>{{ form.recipient.label }}</label>
    {{ form.recipient }}
  </div>
  {{ form.subject.errors }}
  <div class="field">
    <label>{{ form.subject.label }}</label>
    <div class="ui corner labeled input">
      {{ form.subject }}
      <div class="ui corner label">
        <i class="asterisk icon"></i>
      </div>
    </div>
  </div>
  {{ form.body.errors }}
  <div class="field">
    <label>{{ form.body.label }}</label>
    {{ form.body }}
  </div>

  
  <button class="fluid ui primary button" type="submit" style="margin-bottom:10px;">{% trans 'Save changes' %}</button>
  <a href="{% url 'profiles:messages' profile.user.username %}" class="fluid ui red button">{% trans 'Cancel' %}</a>
  <div class="ui error message">
  </div>
</form>

