{% load i18n %}

<div class="ui blue segment message_show">
  <h3 class="ui center aligned header">{% trans 'Message' %}</h3>

  <h3>{{ message.subject }}</h3>
  <h5 class="ui header">{% trans 'From: ' %}{{ message.sender }} <div class="sub header">{{ message.sent_at }}</div></h5>

  {{ message.body }}

  <br>
  <br>
  {% if message.sender != user %}
    <a href="reply" class="ui right floated green button"><i class="reply icon"></i></a>
    <a href="remove" class="ui right floated red button"><i class="remove icon"></i></a>
  {% else %}
    {% if message %}
      <a href="remove" class="ui right floated red button"><i class="remove icon"></i></a>
    {% endif %}
  {% endif %}
  <br>
  <br>
</div>
