{% load i18n %}

<table class="ui very basic table" style="padding:0rem 2rem;">
<thead>
  <tr>
    <th>{% trans "Sender" %}</th>
    <th>{% trans "Recipient" %}</th>
    <th>{% trans "Subject" %}</th>
    <th>{% trans "Sent at" %}</th>
    <th>{% trans "Status" %}</th>
    <th>{% trans "View" %}</th>
  </tr>
</thead>
<tbody>
{% for message in messages %}
  <tr onclick="window.document.location='{% url 'profiles:message_view' profile.user.username message.id%}';">
    {% if message.sender == user %}
      <td>
        <h4 class= "ui image header">
          <a href="{% url 'profiles:profile' message.sender.profile.user.username %}"><img src="{{ message.sender.profile.get_avatar_url }}" class="ui mini rounded image"></a>
          <div class="content">
              {% trans "Me" %}
              <div class="sub header">{{ message.sender.profile.location }}</div>
          </div>
        </h4>
      </td>
    {% else %}
      <td>
        <h5 class= "ui image header">
          <a href="{% url 'profiles:profile' message.sender.profile.user.username %}"><img src="{{ message.sender.profile.get_avatar_url }}" class="ui mini rounded image"></a>
          <div class="ui content">
            {{ message.sender }}
            <div class="sub header">
                {{ message.sender.profile.location }}
            </div>
          </div>
        </h5>
      </td>
    {% endif %}

    {% if message.recipient == user %}
      <td>
        <h5 class= "ui image header">
          <a href="{% url 'profiles:profile' message.recipient.profile.user.username %}"><img src="{{ message.recipient.profile.get_avatar_url }}" class="ui mini rounded image"></a>
          <div class="content">
            {% trans "Me" %}
            <div class="sub header">
              {{ message.recipient.profile.location }}
            </div>
          </div>
        </h5>
      </td>
    {% else %}
      <td>
        <h5 class= "ui image header">
          <a href="{% url 'profiles:profile' message.recipient.profile.user.username %}"><img src="{{ message.recipient.profile.get_avatar_url }}" class="ui mini rounded image"></a>
          <div class="content">
            {{ message.recipient }}
            <div class="sub header">
              {{ message.recipient.profile.location }}
            </div>
          </div>
        </h5>
      </td>
    {% endif %}
      <td>{{ message.subject }}</td>
      <td>{{ message.sent_at|date:"Y-m-d H:i:s" }}</td>
      <td>
        {% ifequal message.status "Read" %}
          <a class="ui green label">{{ message.status }}</a>
        {% else %}
          <a class="ui red label">{{ message.status }}</a>
        {% endifequal %}
      </td>
      <td>
        <a class="ui green label" href="{% url 'profiles:message_view' profile.user.username message.id%}">
          <i class="unhide icon"></i>{% trans 'view' %}
        </a>
      </td>
  </tr>
  {% endfor %}
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <a class="ui green label" href="{% url 'profiles:message_write' profile.user.username %}">
        <i class="edit icon"></i>{% trans 'write' %}
      </a>
  </tr>
</tbody>
</table>