{% load i18n %}

<div class="box-body">

    <form action="" id="message_write_form" enctype="multipart/form-data" method="post">

      {% csrf_token %}

      {{ form.non_field_errors }}

      {{ form.recipient.errors }}
      <div class="form-group">
        <label>{{ form.recipient.label }}</label>
        {{ form.recipient }}
      </div>

      {{ form.subject.errors }}
      <div class="form-group">
        <label>{{ form.subject.label }}</label>
        {{ form.subject }}
      </div>

      {{ form.content.errors }}
      <div class="form-group">
        <label>{{ form.body.label }}</label>
        {{ form.body }}
      </div>

      <button class="btn btn-primary btn-block btn-flat" type="submit">{% trans 'Send message' %}</button>
      <a href="{% url 'profiles:messages' profile.user.username %}" class="btn btn-danger btn-block btn-flat">{% trans 'Cancel' %}</a>

    </form>

  </div>