{% load i18n %}

<div class="box box-primary">

  <div class="box-header with-border">
    <h3 class="box-title">{% trans 'Messages' %}</h3>
  </div>

  <div class="box-body">

      <table class="ui very basic collapsing celled table">
        <tr>
            <th>{% trans "Sender" %}</th>
            <th>{% trans "Recipient" %}</th>
            <th>{% trans "Subject" %}</th>
            <th>{% trans "Sent at" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "View" %}</th>
        </tr>


        {% for message in messages %}
        <tr onclick="window.document.location='{{ message.id }}/';">
            {% if message.sender == user %}
                <td>
                    <h5 class= "ui image header">
                        <img src="{{ message.sender.profile.get_avatar_url }}" class="ui mini rounded image">
                        <div class="content">
                            {% trans "Me" %}

                            <div class="sub header">
                                {{ message.sender.profile.location }}
                            </div>
                        </div>

                    </h5>
                </td>
            {% else %}
                <td>
                    <h5 class= "ui image header">
                        <img src="{{ message.sender.profile.get_avatar_url }}" class="ui mini rounded image">
                        <div class="content">
                            {{ message.sender }}

                            <div class="sub header">
                                {{ message.sender.profile.location }}
                            </div>
                        </div>

                    </h5>
                </td>
            {% endif %}

            {% if message.recipient == user %}
                <td>
                    <h5 class= "ui image header">
                        <img src="{{ message.recipient.profile.get_avatar_url }}" class="ui mini rounded image">
                        <div class="content">
                            {% trans "Me" %}

                            <div class="sub header">
                                {{ message.recipient.profile.location }}
                            </div>
                        </div>

                    </h5>
                </td>
            {% else %}
                <td>
                    <h5 class= "ui image header">
                        <img src="{{ message.recipient.profile.get_avatar_url }}" class="ui mini rounded image">
                        <div class="content">
                            {{ message.sender }}

                            <div class="sub header">
                                {{ message.recipient.profile.location }}
                            </div>
                        </div>

                    </h5>
                </td>
            {% endif %}

            <td>{{ message.subject }}</td>
            <td>{{ message.sent_at }}</td>
            {% ifequal message.status "Read" %}
                <td><span class="label label-success">{{ message.status }}</span></td>
            {% else %}
                <td><span class="label label-warning">{{ message.status }}</span></td>
            {% endifequal %}

            <td>
                <a href="{{ message.id }}/">
                    <button data-original-title="View" type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body" title="">
                        <i class="fa fa-eye"></i>
                    </button>
                </a>
            </td>



        </tr>
        {% endfor %}

         <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a href="write/">
                     <button data-original-title="Write message" type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body" title="">
                        <i class="fa fa-pencil"></i>
                    </button>
                </a>
            </td>
        </tr>
    </table>

  </div>

</div>