{% load i18n %}

<form class="ui form message_write_form" action="" enctype="multipart/form-data" method="post">
  {% csrf_token %}
  
  {{ form.non_field_errors }}
  {{ form.recipient.errors }}
  <div class="required field">
    <label>{{ form.recipient.label }}</label>
    {{ form.recipient }}
  </div>
  {{ form.subject.errors }}
  <div class="required field">
    <label>{{ form.subject.label }}</label>
    {{ form.subject }}
  </div>
  {{ form.body.errors }}
  <div class="required field">
    <label>{{ form.body.label }}</label>
    {{ form.body }}
  </div>

  
  <button class="fluid ui primary button" type="submit" style="margin-bottom:10px;">{% trans 'Send message  ' %}</button>
  <a href="{% url 'profiles:inbox_messages' profile.user.username %}" class="fluid ui red button">{% trans 'Cancel' %}</a>
  <div class="ui error message">
  </div>
</form>

