body {
  font-family: "Microsoft YaHei",Verdana,"Bitstream Vera Sans",sans-serif; }

.grey_and_bold {
  color: #999;
  font-weight: 700; }

.ui.grid.dashboard_grid {
  max-width: 750px;
  margin: 80px auto; }
  .ui.grid.dashboard_grid .ui.divider {
    margin-top: 0.5rem;
    margin-bottom: 0rem; }
  .ui.grid.dashboard_grid .ui.label.right.ribbon {
    font-weight: normal;
    padding: 0.4233em 0.833em;
    margin-top: 13px;
    margin-bottom: 10px; }

.ui.table.personal_table {
  margin: 0.2rem 0; }
  .ui.table.personal_table tbody tr td {
    border: 0px;
    padding-bottom: 0px; }

.all_buttons .ui.button {
  margin: 0.3rem 0;
  width: 31%;
  max-width: 110px;
  text-align: center;
  font-weight: normal;
  padding: 0.72571429em 1.2em;
  font-size: 0.9rem; }

.all_buttons .ui.brand_blue.button {
  background-color: #428bca;
  border-color: #357ebd; }
  .all_buttons .ui.brand_blue.button:hover {
    background-color: #3071a9;
    border-color: #285e8e; }

.all_buttons .ui.brand.button {
  background-color: #FF5026;
  border-color: #FF5026;
  opacity: 0.8; }
  .all_buttons .ui.brand.button:hover {
    opacity: 1; }

.ui.table.table2 {
  border-right: 0px;
  border-left: 0px;
  margin-top: 0px; }
  .ui.table.table2 tr td {
    padding-left: 1.7em; }

.ui.segment.noti_segment span, .ui.segment.noti_segment .ui.checkbox {
  margin-right: 2rem; }

.ui.segment.noti_segment .table {
  margin-top: 0px; }
  .ui.segment.noti_segment .table .ui.checkbox {
    margin-right: 0px;
    padding-top: 4px; }

.read_opacity {
  opacity: 0.8; }

/*--------------
    responsive
---------------*/
@media only screen and (max-width: 759px) {
  .ui.grid .column.div_avatar {
    padding: 0px;
    padding-left: 10px; } }

.ui.grid .column.div_avatar .ui.image {
  box-shadow: #333333 1px 1px 20px 0;
  margin-top: 10px; }
  @media only screen and (max-width: 759px) {
    .ui.grid .column.div_avatar .ui.image {
      margin-top: 1.2rem; } }

@media only screen and (max-width: 759px) {
  .ui.table.personal_table {
    font-size: 0.6em; } }

.ui.table.personal_table .ui.label {
  padding: 0.25em 0.4em; }

@media only screen and (max-width: 759px) {
  .ui.table.personal_table tr td {
    padding-left: 0px; } }

@media only screen and (max-width: 759px) {
  .ui.table.personal_table .grey_and_bold {
    display: none; } }

@media only screen and (max-width: 759px) {
  .all_buttons {
    text-align: center; } }

@media only screen and (max-width: 759px) {
  .all_buttons .ui.button {
    width: 49%;
    max-width: 50%; } }

@media only screen and (max-width: 759px) {
  .not_show_on_mobile {
    display: none; } }

@media only screen and (max-width: 759px) {
  .disnone_mobile {
    display: none; } }

.ui.grid > .column:not(.row).display_mobile {
  display: none;
  padding-top: 0rem; }
  @media only screen and (max-width: 759px) {
    .ui.grid > .column:not(.row).display_mobile {
      display: block; } }
