.ui.grid.dashboard_grid {
  max-width: 700px;
  margin: 80px auto; }
  .ui.grid.dashboard_grid .h_content h1, .ui.grid.dashboard_grid .h_content h2, .ui.grid.dashboard_grid .h_content h3, .ui.grid.dashboard_grid .h_content h4, .ui.grid.dashboard_grid .h_content h5 {
    margin: 0.5rem 0; }
  .ui.grid.dashboard_grid .h_content h2 {
    margin-top: 0rem; }

.ui.segment.profile_info .ui.blue.segment {
  padding-bottom: 20px; }

.ui.segment.profile_info .right_absolute {
  position: absolute;
  right: 1rem; }

.ui.segment.profile_info .ui.divided.items > .item {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.ui.segment.all_services {
  margin-bottom: 1rem; }
  .ui.segment.all_services .ui.divided.items > .item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }
  .ui.segment.all_services .ui.label {
    padding: 6px 9px; }

.ui.segment.service_short_list .ui.label {
  padding: 6px 9px;
  margin-top: 2px; }
