.ui.grid.message_grid {
  max-width: 1100px;
  margin: 80px auto; }

.ui.grid.message_add_grid {
  max-width: 800px;
  margin: 80px auto; }

.ui.segment.message_show {
  margin-bottom: 2.5rem; }
  .ui.segment.message_show ul.errorlist {
    list-style: none;
    -webkit-padding-start: 0; }
    .ui.segment.message_show ul.errorlist li {
      color: #dd4b39; }
