body, body.pushable > .pusher {
  background-color: #f3f3f3; }

.ui.inverted.sidebar {
  margin-top: 49px !important; }

.position-fixed {
  position: fixed;
  top: 0px;
  height: 50px;
  width: 100%;
  z-index: 100; }
  .position-fixed .reismann_logo {
    width: 158px; }
    .position-fixed .reismann_logo a {
      padding-left: 12px; }

/*--------------
    responsive
---------------*/
.masthead .fixed_h .right.menu > .mobile.item {
  display: none; }
  @media only screen and (min-width: 768px) {
    .masthead .fixed_h .right.menu > .mobile.item {
      display: none; } }
