.ui.grid.setting_grid {
  max-width: 700px;
  margin: 80px auto; }

.ui.segment.setting_form {
  margin-bottom: 2.5rem; }
  .ui.segment.setting_form ul.errorlist {
    list-style: none;
    -webkit-padding-start: 0; }
    .ui.segment.setting_form ul.errorlist li {
      color: #dd4b39; }
