{% load i18n staticfiles %}
{% load notifications_tags %}

<script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
<script type="text/javascript">
function get_date(d) {
  return d.replace('T', ' ').replace('Z', '')
}
function fill_notification_badge(data) {
    var badge = $('.live_notify_badge');
    if (badge) {
        badge.text(data.unread_count);
    }
}
function fill_notification_list(data) {
    $('.unread_info').remove()
    var html = ''
    for (var i=0; i < data.unread_list.length; i++) {
        var item = data.unread_list[i];
        var avatar_url = "avatar/" + item.actor + "/"
        html += '<a href="" class="item unread_info">' + 
                  '<img class="ui avatar image" src="'+avatar_url+'">' +
                  '<span class="sender" style="position:absolute;left:53px;top:5px;font-weight:bold;">' + item.actor + '</span>' +
                  '<small class="minutes_past" style="position:absolute;right:15px;"><i class="history icon"></i>' +  get_date(item.timestamp) + '</small>' +
                  '<span class="subject" style="position:absolute;left:53px;top:25px;">' + item.verb + '</span>' +
                '</a>' +
                '<div class="divider unread_info"></div>'
    }
    $(".update_notifications").after(html)
}
</script>
{% register_notify_callbacks callbacks='fill_notification_list,fill_notification_badge'  %}
{% notifications_unread as unread_count%}
{% if user.is_authenticated %}
<div class="right menu">
  <div class="ui top right pointing dropdown item" onclick="location.href='{% url 'profiles:notifications' user.username %}'">
    <i class="icon alarm outline"></i>
    <div class="floating ui teal label" style="padding:2px 3px;top: 10px;left: 47px;">
      <span class='live_notify_badge'>{{ unread_count }}</span>
    </div>

    <div class="menu" style="width:300px;">
      <div class="item">{% trans "You have " %}<span class='live_notify_badge'>{{ unread_count }}</span>{% trans " unread notifications" %}</div>
      <div class="divider update_notifications"></div>

    </div>
  </div>
  <div class="ui top right pointing dropdown item">
    <div>
      <img class="ui avatar image" src="{{ user.profile.get_avatar_url }}">
      <span class="not_mobile_span">{{ user.username }}</span>

    </div>
    <div class="menu"> 
      <a href="{% url 'profiles:dashboard' user.username %}" class="item">{% trans 'dashboard' %}</a>
      <a href="{% url 'accounts:logout' %}" class="item">{% trans 'sign out' %}</a>

    </div>
  </div>
</div>

{% else %}
<div class="right menu">
  {% if request.path != '/accounts/register/' %}
  <a class="item" href="{% url 'accounts:login' %}?next={{request.path}}">{% trans 'signin' %}</a>
  {% else %}
  <a class="item" href="{% url 'accounts:login' %}">{% trans 'signin' %}</a>
  {% endif %}

  <a class="item" href="{% url 'accounts:register' %}">{% trans 'register' %}</a>
</div>
{% endif %}