{% load i18n staticfiles %}

<div class="navbar-custom-menu">
  <ul class="nav navbar-nav">

    {% if user.is_authenticated %}
      <li class="dropdown messages-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-envelope-o"></i>
          <span class="label label-success">{{ unread_messages.count }}</span>
        </a>
        <ul class="dropdown-menu">
          <li class="header">{% trans "You have" %} {{ unread_messages.count }} {% trans " unread messages" %}</li>
          <li>
            <ul class="menu">
              {% for message in unread_messages %}
              <li>
                <a href="{% url 'profiles:message_view' user.username message.id%}">
                  <div class="pull-left">
                    <img class="img-circle" src="{{ message.sender.profile.get_avatar_url }}" alt="User Image">
                  </div>
                  <h4>
                    {{ message.sender }}
                    <small><i class="fa fa-clock-o"></i> {{ message.minutes_past}}</small>
                  </h4>
                  <p>{{ message.subject }}</p>
                </a>
              </li>
                {% endfor %}
            </ul>
          </li>
          <li class="footer"><a href="{% url 'profiles:messages' user.username %}">{% trans 'see all messages' %}</a></li>
        </ul>
      </li>

      <li class="dropdown user user-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <img src="{{ user.profile.get_avatar_url }}" alt="User Image" class="user-image">
          <span class="hidden-xs">{{ user.profile.get_full_name_or_username }}</span>
        </a>
        <ul class="dropdown-menu">
          <li class="user-header">
            <img src="{{ user.profile.get_avatar_url }}" alt="User Image" class="img-circle">
            <p>
              {{ user.profile.get_full_name_or_username }} - {{ user.profile.location }}
              <small>{{ profile.member_since }}</small>
            </p>
          </li>
          <li class="user-body">
            <div class="col-xs-4 text-center">
              <a href="#">{{ number_followers }} {% trans 'Followers' %}</a>
            </div>
            <div class="col-xs-4 text-center">
              <a href="#">{{ number_following }} {% trans 'Following' %}</a>
            </div>
            <div class="col-xs-4 text-center">
              <a href="#">{{ number_bookings }} {% trans 'Bookings' %}</a>
            </div>
          </li>
          <li class="user-footer">
            <div class="btn-group btn-group-justified" role="group">
              <a href="{% url 'profiles:profile' user.username %}" class="btn btn-default btn-flat btn-header-profile">{% trans 'profile' %}</a>
              <a href="{% url 'profiles:dashboard' user.username %}" class="btn btn-default btn-flat btn-header-dashboard">{% trans 'dashboard' %}</a>
              <a href="{% url 'accounts:logout' %}" class="btn btn-default btn-flat btn-header-logout">{% trans 'sign out' %}</a>
            </div>
          </li>
        </ul>
      </li>
    {% else %}
      <li>
        <a href="{% url 'accounts:login' %}?next={{request.path}}">{% trans 'signin' %}</a>
      </li>
      <li>
        <a href="{% url 'accounts:register' %}">{% trans 'register' %}</a>
      </li>

    {% endif %}

  </ul>
</div>