{% load i18n staticfiles %}
{% load notifications_tags %}

{% if user.is_authenticated %}
<script type="text/javascript">
var notify_badge_id='live_notify_badge';
var notify_menu_id='live_notify_list';
var message_badge_id='live_message_badge';
var notify_message_url = '/profiles/{{ user.username }}/unread_messages/';
var notify_notification_url = '/profiles/{{ user.username }}/unread_notifications/'
var notify_fetch_count='5';
var notify_refresh_period=150000;
var consecutive_misfires = 0;
var registered_functions = [];
var registered_functions1 = [];

function get_date(d) {
  return d.replace('T', ' ').replace('Z', '')
}
function fill_notification_badge(data) {
    var badge = $('.live_notify_badge');
    if (badge) {
        badge.text(data.unread_count);
    }
}
function fill_message_badge(data) {
    var badge = $('.live_message_badge');
    if (badge) {
        badge.text(data.unread_count);
    }
}
function fill_notification_list(data) {
    $('.unread_notification').remove()
    var html = ''
    for (var i=0; i < data.unread_list.length; i++) {
        var item = data.unread_list[i];
        var avatar_url = "/profiles/{{ user.username }}/notifications/avatar/" + item.actor + "/"
        html += '<a href="' + item.url + '" class="item unread_notification">' + 
                  '<img class="ui avatar image" style="width: 2.5em;height:2.5em;max-height:2.5em;" src="'+avatar_url+'">' +
                  '<span class="sender" style="position:absolute;left:57px;top:10px;font-weight:bold;">' + item.actor + '</span>' +
                  '<small class="minutes_past" style="position:absolute;right:15px;"><i class="history icon"></i>' +  get_date(item.timestamp) + '</small>' +
                  '<span class="subject" style="position:absolute;left:57px;top:30px;">' + item.verb + '</span>' +
                '</a>' +
                '<div class="divider unread_notification"></div>'
    }
    if (data.unread_count > notify_fetch_count) {
      html += '<a href="/profiles/{{ user.username }}/dashboard/" style="text-align:center;" class="item unread_notification"><i class="icon grey ellipsis vertical"></i></a>' 
    }
    $(".update_notifications").after(html)
}
function fill_message_list(data) {
    $('.unread_message').remove()
    var html = ''
    for (var i=0; i < data.unread_list.length; i++) {
        var item = data.unread_list[i];
        var avatar_url = "/profiles/{{ user.username }}/notifications/avatar/" + item.actor + "/"
        html += '<a href="' + item.url + '" class="item unread_message">' + 
                  '<img class="ui avatar image" style="width: 2.5em;height:2.5em;max-height:2.5em;" src="'+avatar_url+'">' +
                  '<span class="sender" style="position:absolute;left:57px;top:10px;font-weight:bold;">' + item.actor + '</span>' +
                  '<small class="minutes_past" style="position:absolute;right:15px;"><i class="history icon"></i>' +  get_date(item.timestamp) + '</small>' +
                  '<span class="subject" style="position:absolute;left:57px;top:30px;">' + item.verb + '</span>' +
                '</a>' +
                '<div class="divider unread_message"></div>'
    }
    if (data.unread_count > notify_fetch_count) {
      html += '<a href="/profiles/{{ user.username }}/inbox_messages/" style="text-align:center;" class="item unread_message"><i class="icon grey ellipsis vertical"></i></a>' 
    }
    $(".update_messages").after(html)
}

function register_notifier(func) {
    registered_functions.push(func);
}
function register_notifier1(func) {
    registered_functions1.push(func);
}

function fetch_notification_data() {
    if (registered_functions.length > 0) {
        //only fetch data if a function is setup
        var r = new XMLHttpRequest();
        r.open("GET", notify_notification_url+'?max='+notify_fetch_count, true);
        r.onreadystatechange = function () {
            if (r.readyState != 4 || r.status != 200) {
                consecutive_misfires++;
            }
            else {
                consecutive_misfires = 0;
                for (var i=0; i < registered_functions.length; i++) {
                    var func = registered_functions[i];
                    func(JSON.parse(r.responseText));
                }
            }
        }
        r.send();
    }
    if (consecutive_misfires < 10) {
        setTimeout(fetch_notification_data,notify_refresh_period);
    } else {
        var badge = document.getElementById(notify_badge_id);
        if (badge) {
            badge.innerHTML = "!";
            badge.title = "Connection lost!"
        }
    }
}

function fetch_message_data() {
    if (registered_functions1.length > 0) {
        //only fetch data if a function is setup
        var r = new XMLHttpRequest();
        r.open("GET", notify_message_url+'?max='+notify_fetch_count, true);
        r.onreadystatechange = function () {
            if (r.readyState != 4 || r.status != 200) {
                consecutive_misfires++;
            }
            else {
                consecutive_misfires = 0;
                for (var i=0; i < registered_functions1.length; i++) {
                    var func = registered_functions1[i];
                    func(JSON.parse(r.responseText));
                }
            }
        }
        r.send();
    }
    if (consecutive_misfires < 10) {
        setTimeout(fetch_message_data,notify_refresh_period);
    } else {
        var badge = document.getElementById(message_badge_id);
        if (badge) {
            badge.innerHTML = "!";
            badge.title = "Connection lost!"
        }
    }
}

setTimeout(fetch_notification_data,1000);
setTimeout(fetch_message_data,1000);


register_notifier(fill_notification_list);
register_notifier(fill_notification_badge);
register_notifier1(fill_message_list);
register_notifier1(fill_message_badge);
</script>

<div class="right menu">
  <div class="ui top right pointing dropdown item" onclick="location.href='{% url 'profiles:inbox_messages' user.username %}'">
    <i class="icon mail outline"></i>
    <div class="floating ui teal label" style="padding:2px 3px;top: 10px;left: 47px;">
      <span class='live_message_badge'></span>
    </div>

    <div class="menu" style="width:300px;">
      <div onclick="location.href='{% url 'profiles:inbox_messages' user.username %}'" class="item">{% trans "You have " %}<span class='live_message_badge'></span>{% trans " unread messages" %}</div>
      <div class="divider update_messages"></div>
    </div>
  </div>

  <div class="ui top right pointing dropdown item" onclick="location.href='{% url 'profiles:dashboard' user.username %}'">
    <i class="icon alarm outline"></i>
    <div class="floating ui teal label" style="padding:2px 3px;top: 10px;left: 47px;">
      <span class='live_notify_badge'></span>
    </div>

    <div class="menu" style="width:300px;">
      <div onclick="location.href='{% url 'profiles:dashboard' user.username %}'" class="item">{% trans "You have " %}<span class='live_notify_badge'></span>{% trans " unread notifications" %}</div>
      <div class="divider update_notifications"></div>

    </div>
  </div>
  <div class="ui top right pointing dropdown item">
    <div>
      <img class="ui avatar image" src="{{ user.profile.get_avatar_url }}">
      <span class="not_mobile_span">{{ user.username }}</span>

    </div>
    <div class="menu"> 
      <a href="{% url 'profiles:dashboard' user.username %}" class="item">{% trans 'dashboard' %}</a>
      <a href="{% url 'accounts:logout' %}" class="item">{% trans 'sign out' %}</a>

    </div>
  </div>
</div>

{% else %}
<div class="right menu">
  {% if request.path != '/accounts/register/' %}
  <a class="item" href="{% url 'accounts:login' %}?next={{request.path}}">{% trans 'signin' %}</a>
  {% else %}
  <a class="item" href="{% url 'accounts:login' %}">{% trans 'signin' %}</a>
  {% endif %}

  <a class="item" href="{% url 'accounts:register' %}">{% trans 'register' %}</a>
</div>
{% endif %}