{% load staticfiles i18n %}
<div class="ui centered grid masthead">
  <div class="fifteen wide column">
    <div class="ui inverted blue menu fixed_h">
      <h3 class="header item">
        <a href="{% url 'index' %}">Reismann</a>
      </h3>
      <a class="item" href="#">become a provider</a>
      <div class="ui dropdown link item">
          help
          <i class="dropdown icon"></i>
          <div class="menu">
              <a href="#" class="item">get started</a>
              <a href="#" class="item">login and register</a>
              <a href="#" class="item">provider</a>
              <a href="#" class="item">traveller</a>
              <a href="#" class="item">review</a>
          </div>        
      </div>
      <div class="right menu">
        <a class="item" href="{% url 'accounts:login' %}">signin</a>
        <a class="item" href="{% url 'accounts:register' %}">register</a>
      </div>
    </div>
  </div>
</div>