{% load i18n staticfiles %}

{% if user.is_authenticated %}
<div class="right menu">
  <div class="ui dropdown item">
    <i class="icon mail outline"></i> 
    <div class="floating ui teal label" style="padding:2px 3px;top: 10px;left: 47px;">{{ unread_messages.count }}</div>

    <div class="menu" style="width:280px;left:-225px;">
      <div class="item">{% trans "You have" %} {{ unread_messages.count }} {% trans " unread messages" %}</div>
      <div class="divider"></div>
      {% for message in unread_messages %}
        <a href="{% url 'profiles:message_view' user.username message.id%}" class="item unread_info">
          <img class="ui avatar image" src="{{ message.sender.profile.get_avatar_url }}">
            <span class="sender" style="position:absolute;left:53px;top:5px;font-weight:bold;">{{ message.sender }}</span>
            <small class="minutes_past" style="position:absolute;right:15px;"><i class="history icon"></i>{{ message.minutes_past}}</small>
            <span class="subject" style="position:absolute;left:53px;top:25px;">{{ message.subject }}</span>
        </a>
        <div class="divider"></div>
      {% endfor %}
      <a class="item" href="{% url 'profiles:messages' user.username %}">{% trans 'see all messages' %}</a>
    </div>
  </div>
  <div class="ui dropdown item">
    <div>
      <img class="ui avatar image" src="{{ user.profile.get_avatar_url }}">
      <span class="not_mobile_span">{{ user.profile.get_full_name_or_username }}</span>
    </div>
    <div class="menu" style="left:-171px;"> 
      <div class="item" style="display:none"></div>
      <div class="ui card card_info">
        <div class="content">
          <img class="right floated mini ui image" src="{{ user.profile.get_avatar_url }}">
          <div class="header">{{ user.profile.get_full_name_or_username }} </div>
          <div class="meta">{{ user.profile.short_description }}</div>
          <div class="ui description center aligned three column divided grid">
            <div class="column">
              <div class="ui grey statistic">
                <div class="value">
                  {{ number_followers }}
                </div>
                <div class="label">{% trans 'Followers' %}</div>
              </div>
            </div>
            <div class="column">
              <div class="ui grey statistic">
                <div class="value">
                  {{ number_following }}
                </div>
                <div class="label">{% trans 'Following' %}</div>
              </div>
            </div>
            <div class="column">
              <div class="ui grey statistic">
                <div class="value">
                  {{ number_bookings }}
                </div>
                <div class="label">{% trans 'Bookings' %}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="extra content">
          <div class="ui three buttons">
            <a href="{% url 'profiles:profile' user.username %}" class="ui basic green button">{% trans 'profile' %}</a>
            <a href="{% url 'profiles:dashboard' user.username %}" class="ui basic blue button" style="padding-left:12px">{% trans 'dashboard' %}</a>
            <a href="{% url 'accounts:logout' %}" class="ui basic red button">{% trans 'sign out' %}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% else %}
<div class="right menu">
  <a class="item" href="{% url 'accounts:login' %}">{% trans 'signin' %}</a>
  <a class="item" href="{% url 'accounts:register' %}">{% trans 'register' %}</a>
</div>
{% endif %}