body {
  background-color: rgb(243, 243, 243);
}

/*--------------
    city_img
---------------*/
.city_img {
  height: 200px;
  width: 100%;
  // background-image: url('/static/images/dummy/banner.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; 
}



/*--------------
    help_content
---------------*/
.help_content {
	p {
		color: rgba(0,0,0,.68);
    font-size: 1.3em;
	}
	.sub.header {
		font-size: 2em;
	}
}
.help_context {
  .ui.accordion {
    .title {
      font-size: 1.3em;
    }
    .content {
      padding-left: 1.9em!important;
    }
  }
}