body {
  background-color: rgb(243, 243, 243);
}

/*--------------
    banner
---------------*/
.ui.grid.banner {
  .banner_img {
    width: 100%;
    background-image: url('/static/images/dummy/banner.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
  }
  .information {
    .tagline {
      text-shadow: 1px 1px 1px #000000;
    }
   .subheadline.ui.header {
      margin-top: 0px;
      margin-bottom: 0px;
      text-shadow: 1px 1px 1px #000000;
    }
    .ui.icon.input {
      width: 300px;
      margin-right: 3px;
      .prompt {
        border-radius: 0px;
        height: 36px;
        line-height: 36px;
      }
    }
    .ui.red.button {
      height: 36px;
    }
    .left_aligned {
      text-align: left;
    }
  }
}

/*--------------
    profile_content
---------------*/

.profile_map {
  height: 300px;
  display: block;
  width: 100%;
  background-color: #242731;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.ui.header.popular_profile_h2, .ui.header.new_profile_h2 {
  margin-top: 0px;
  padding-top: 50px;
  padding-bottom: 10px;
}
.padding {
  .ui.header {
    font-size: 11px;
    margin-bottom: 0px;
  }
  .ui.segment {
    margin-top: 0px;
    padding-top: 0px;
  }
}
.profile_content {
  .ui.segment {
    border: 0px;
  } 
  .ui.segment.padding {
    padding: 0px;
  } 
  .average_price {
    position: absolute;
    right: 14px;
    top: -27px;
  }
  .content {
    margin-top: 10px;
  }
  .content p {
    font-size: 0.75rem;
  }
  .ui.tiny.image {
    width: 60px;
    padding: 2px;
    border: 2px;
    background-color: #fff;
    border-radius: 28px;
    margin-top: -33px;
    margin-left: 19px;
  }
}



/*--------------
    city_content
---------------*/
.ui.grid.city_content {
  margin-bottom: 30px;
  .city_map {
    height: 300px;
    display: block;
    width: 100%;
    background-color: #242731;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .title {
    line-height: 300px;
    display: inline-block;
    width: 100%;
    text-shadow: 1px 1px 1px black;
    transition: background-color .2s ease;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    font-size: 1.5rem;
  }
}
.ui.header.popular_city_h2 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.ui.header.new_city_h2 {
  padding-top: 25px;
  padding-bottom: 10px;
}

/*--------------
    responsive
---------------*/
@import '../../base/responsive';
.ui.grid.banner { 
  .banner_img {
    height: 300px;
    @include MQ(M) {
      height: 480px;
    }
  }   
  .information {
    margin-top: 70px;
    @include MQ(M) {
      margin-top: 152px;
    }
  }
}

