@import '../../base/responsive';

body {
  background-color: rgb(243, 243, 243);
}

.ui.inverted.blue.menu.masthead {
  position: relative;
  z-index: 2;
  background-color: transparent;
}
.highly_adaptive {
  margin-top: -54px;
  z-index: 1;
}

/*--------------
    banner
---------------*/
.ui.grid.banner {
  .banner_img {
    width: 100%;
    background-image: url('/static/images/dummy/banner_0.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
    height: 300px;
    @include LT(S) {
      height: 480px;
    }
    @include LT(M) {
      height: 600px;
    }
  }
  .information {
    margin-top: 90px;
    @include LT(S) {
      margin-top: 190px;
    }
    @include LT(M) {
      margin-top: 230px;
    }
    .tagline {
      text-shadow: 1px 1px 1px #000000;
      font-size: 2.5rem;
      @include GT(M) {
        font-size: 2.2rem;
      }
      @include GT(S) {
        font-size: 1.7rem;
      }
      @include GT(X) {
        font-size: 1.5rem;
      }
    }
   .subheadline.ui.header {
      margin-top: 0px;
      margin-bottom: 0px;
      text-shadow: 1px 1px 1px #000000;
      @include LT(M) {
        font-size: 1.2rem;
      }
      @include GT(S) {
        font-size: 0.8rem;
      }
    }
    .ui.icon.input {
      margin-right: 3px;
      margin-bottom: 0.3rem;
      width: 290px;
      @include GT(S) {
        width: 260px;
      }
      .prompt {
        border-radius: 0px;
      }
    }
    .ui.brand.button {
      height: 38px;
    }
    .left_aligned {
      text-align: left;
    }
  }
}

/*--------------
    profile_content
---------------*/

.profile_map {
  height: 300px;
  display: block;
  width: 100%;
  background-color: #242731;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.ui.header.popular_profile_h2, .ui.header.new_profile_h2 {
  margin-top: 0px;
  padding-top: 55px;
  padding-bottom: 30px;
  font-weight: 100;
}
.padding {
  .ui.header {
    font-size: 1em;
    margin-bottom: 0px;
  }
  .ui.segment {
    margin-top: 5px;
    padding-top: 0px;
  }
}
.profile_content {
  .ui.segment {
    border: 0px;
    span {
      color: rgba(0, 0, 0, 0.6);
      margin: 0.5em 0em 0.5em;
      font-size: 0.9em;
    }
  } 
  .ui.segment.padding {
    padding: 0px;
  } 
  .average_price {
    position: absolute;
    right: 14px;
    top: -25px;
  }
  .content {
    margin-top: 10px;
  }
  .content p {
    color: rgba(0,0,0,.68);
    font-size: 1em;
  }
  .ui.tiny.image {
    width: 60px;
    padding: 2px;
    border: 2px;
    background-color: #fff;
    border-radius: 28px;
    margin-top: -33px;
    margin-left: 19px;
  }
  .filter_map {
    width: 100%;
    height: 300px;
    position: relative;
    left: 0px;
    top: 0px;
    background: #000;
    opacity: 0;
  }
}



/*--------------
    city_content
---------------*/
.ui.grid.city_content {
  margin-bottom: 30px;
  .city_map {
    height: 300px;
    display: block;
    width: 100%;
    background-color: #242731;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .title_map {
    line-height: 300px;
    display: inline-block;
    width: 100%;
    text-shadow: 1px 1px 1px black;
    transition: background-color .2s ease;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    font-size: 1.8rem;
    position: relative;
    top: -300px;
  }
  .filter_map {
    width: 100%;
    height: 300px;
    position: relative;
    left: 0px;
    top: 0px;
    background: #000;
    opacity: 0;
  }
}
.ui.header.popular_city_h2 {
  font-weight: 100;
  padding-top: 10px;
  padding-bottom: 23px;
}
.ui.header.new_city_h2 {
  font-weight: 100;
  padding-top: 35px;
  padding-bottom: 23px;
}


/*--------------
    fixed_position
---------------*/
.ui.animated.button.fixed_position {
  position: fixed;
  display: none;
  bottom: 120px;
  right: 30px;
}