@import 'base/responsive';
@import 'base/mixins';


/*******************************
            Global
*******************************/
img {
  max-width: 100%;
}

.ui.button {
  font-weight: normal;
}

.ui.label {
  font-weight: normal;
}


/*--------------
    Masthead
---------------*/
.ui.menu.masthead { 
  border-radius: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  .ui.dropdown .menu>.divider {
      margin: .1em 0;
  }
  .unread_info {
    .sender {
      position: absolute;
      left: 53px;
      top: 9px;
      font-weight: bold;
      color: #444444;
      font-size: 15px;
    }
    .minutes_past {
      position: absolute;
      right: 15px;
      color: #999999;
      font-size: 10px;
      top: 6px;
    }
    .subject {
      position: absolute;
      left: 53px;
      top: 28px;
      font-size: 12px;
      color: #888888;
    }
  }
  .ui.card.card_info {
    margin-top: 0px;
    width: 100%;
  }
}



/*--------------
    footer
---------------*/
.ui.segment.footer {
  padding: 2.5rem 0rem 4.5rem 0rem;
  a {
    color: #5E5252;
    line-height: 2rem;
    &:hover {
      color: #5E5252;
      text-decoration:underline;
    }
  }
}

.copyright {
  color: #999;
  margin-top: 5px;
  font-size: 0.9rem;
}


/*--------------
    copyright
---------------*/
.ui.inverted.segment>.ui.header {
  color: #b3b3b3;
}




/*--------------
    responsive
---------------*/
.ui.menu.masthead {
  .mobile.item {
    display: flex;
    @include LT(S) {
      display: none;
    }
  }
  .not_mobile.item {
    display: none;
    @include LT(S) {
      display: flex;
    }
  }
  .not_mobile_span {
    display: none;
    @include LT(S) {
      display: inline-block;
    } 
  }
}