@import 'base/variables';
@import 'base/responsive';
@import 'base/mixins';
@import 'base/base';

/*******************************
            Global
*******************************/




/*******************************
            Global
*******************************/


/*--------------
    Masthead
---------------*/
#home .masthead {
  margin: 0em;
  border-radius: 0px;
  font-weight: normal;
  background-color: #2185D0;
  .column {
    position: relative;
    padding: 0px;
    .fixed_h{
      height: 50px;
    }
  }
}

/*--------------
    footer
---------------*/
.ui.segment.footer {
  background-color: #252528;
  color: #b3b3b3;
  padding-top: 28px;
  padding-bottom: 26px;
  .header {
    color: #ffffff;
    font-size: 16px;
  }
  a {
    line-height: 2rem;
  }
}


/*--------------
    copyright
---------------*/
.ui.inverted.segment>.ui.header {
  color: #b3b3b3;
}

