{% extends "profiles/__profile_base.html" %}
{% load i18n %}
{% load render_bundle from webpack_loader %}
{% block stylesheets %}
    {% render_bundle 'profiles/follow' 'css' %}
{% endblock %}
{% block javascripts %}
    {% render_bundle 'profiles/follow' 'js' %}
{% endblock %}

{% block content %}
    <div class="ui grid follow_grid">
      <div class="column">
          <div class="ui blue segment">
            <h3 class="ui center aligned header">{% trans 'Followers' %}</h3>
            <br>
            <div class="ui four column grid">
              {% for follower in followers %}
              <div class="center aligned column">
                <img class="ui circular centered image" src="{{ follower.profile.get_avatar_url }}">
                <p>{{ follower.username }}</p>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="ui blue segment">
            <h3 class="ui center aligned header">{% trans 'Following' %}</h3>
            <br>
            <div class="ui four column center aligned grid">
              {% for following in followings %}
              <div class="column">
                <img class="ui circular centered image" src="{{ following.profile.get_avatar_url }}">
                <p>{{ following.username }}</p>
              </div>
              {% endfor %}
            </div>
          </div>
      </div>
    </div>
{% endblock %} 