.ui.inverted.blue.menu.masthead {
  position: relative;
  z-index: 2;
  background-color: transparent;
  height: 54px; }

.highly_adaptive {
  margin-top: -54px;
  z-index: 1; }

/*--------------
    banner
---------------*/
.ui.grid.banner .banner_img, .ui.grid.banner .banner_img_copy {
  width: 100%;
  background-image: url("/static/images/dummy/banner_0.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 0px;
  height: 300px; }
  @media only screen and (min-width: 768px) {
    .ui.grid.banner .banner_img, .ui.grid.banner .banner_img_copy {
      height: 480px; } }
  @media only screen and (min-width: 992px) {
    .ui.grid.banner .banner_img, .ui.grid.banner .banner_img_copy {
      height: 600px; } }

.ui.grid.banner .information {
  margin-top: -210px; }
  @media only screen and (min-width: 768px) {
    .ui.grid.banner .information {
      margin-top: -290px; } }
  @media only screen and (min-width: 992px) {
    .ui.grid.banner .information {
      margin-top: -370px; } }
  .ui.grid.banner .information .tagline {
    text-shadow: 1px 1px 1px #000000;
    font-size: 2.5rem; }
    @media only screen and (max-width: 991px) {
      .ui.grid.banner .information .tagline {
        font-size: 2.2rem; } }
    @media only screen and (max-width: 767px) {
      .ui.grid.banner .information .tagline {
        font-size: 1.7rem; } }
    @media only screen and (max-width: 319px) {
      .ui.grid.banner .information .tagline {
        font-size: 1.5rem; } }
  .ui.grid.banner .information .subheadline.ui.header {
    margin-top: 0px;
    margin-bottom: 0px;
    text-shadow: 1px 1px 1px #000000; }
    @media only screen and (min-width: 992px) {
      .ui.grid.banner .information .subheadline.ui.header {
        font-size: 1.2rem; } }
    @media only screen and (max-width: 767px) {
      .ui.grid.banner .information .subheadline.ui.header {
        font-size: 0.8rem; } }
  .ui.grid.banner .information .ui.icon.input {
    margin-right: 3px;
    margin-bottom: 0.3rem;
    width: 290px; }
    @media only screen and (max-width: 767px) {
      .ui.grid.banner .information .ui.icon.input {
        width: 260px; } }
    .ui.grid.banner .information .ui.icon.input .prompt {
      border-radius: 0px; }
  .ui.grid.banner .information .ui.brand.button {
    height: 38px; }
  .ui.grid.banner .information .left_aligned {
    text-align: left; }

/*--------------
    profile_content
---------------*/
.profile_map {
  height: 300px;
  display: block;
  width: 100%;
  background-color: #242731;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  .profile_map:hover:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.3); }

.ui.header.popular_profile_h2, .ui.header.new_profile_h2 {
  margin-top: 0px;
  padding-top: 55px;
  padding-bottom: 30px;
  font-weight: 100; }

.padding .ui.header {
  font-size: 1em;
  margin-bottom: 0px; }

.padding .ui.segment {
  margin-top: 5px;
  padding-top: 0px; }

.profile_content .ui.segment {
  border: 0px; }
  .profile_content .ui.segment span {
    color: rgba(0, 0, 0, 0.6);
    margin: 0.5em 0em 0.5em;
    font-size: 0.9em; }

.profile_content .ui.segment.padding {
  padding: 0px; }

.profile_content .average_price {
  position: absolute;
  right: 14px;
  top: -25px; }

.profile_content .content {
  margin-top: 10px; }

.profile_content .content p {
  color: rgba(0, 0, 0, 0.68);
  font-size: 1em; }

.profile_content .ui.tiny.image {
  width: 60px;
  padding: 2px;
  border: 2px;
  background-color: #fff;
  border-radius: 28px;
  margin-top: -33px;
  margin-left: 19px; }

/*--------------
    city_content
---------------*/
.ui.grid.city_content {
  margin-bottom: 30px; }
  .ui.grid.city_content .city_map {
    height: 300px;
    display: block;
    width: 100%;
    background-color: #242731;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    .ui.grid.city_content .city_map:hover:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 300px;
      background-color: rgba(0, 0, 0, 0.3); }
  .ui.grid.city_content .title_map {
    line-height: 300px;
    display: inline-block;
    width: 100%;
    text-shadow: 1px 1px 1px black;
    transition: background-color .2s ease;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    font-size: 1.8rem;
    position: relative; }

.ui.header.popular_city_h2 {
  font-weight: 100;
  padding-top: 10px;
  padding-bottom: 23px; }

.ui.header.new_city_h2 {
  font-weight: 100;
  padding-top: 35px;
  padding-bottom: 23px; }

/*--------------
    fixed_position
---------------*/
.ui.animated.button.fixed_position {
  position: fixed;
  display: none;
  bottom: 120px;
  right: 30px; }
