{% load i18n %}

<div class="ui blue segment service_show">
  <h3 class="ui center aligned header">{% trans 'Service' %}</h3>

  <div class="ui large relaxed list">
    <div class="item">
      <div class="header">{% trans 'Title' %}</div>
      {{ service.title }}
    </div>
    <div class="item">
      <div class="header">{% trans 'Price' %}</div>
      {{ service.price }}
    </div>
    <div class="item">
      <div class="header">{% trans 'Type' %}</div>
      {% if service.type == 1 %}
        {% trans 'part time' %}
      {% else %}
        {% trans 'full time' %}
      {% endif %}
    </div>
    <div class="item style_label">
      <div class="header">{% trans 'Cities' %}</div>
      {% for city in service.cities.all %}
        <a class="ui brand_blue label">{{ city.name }}</a>
      {% endfor %}
    </div>
    <div class="item style_label">
      <div class="header">{% trans 'Categories' %}</div>
      {% for category in service.categories.all %}
        <a class="ui green label">{{ category.name }}</a>
      {% endfor %}
    </div>
    <div class="item style_label">
      <div class="header">{% trans 'Languages' %}</div>
      {% for language in service.languages.all %}
        <a class="ui yellow label">{{ language.name }}</a>
      {% endfor %}
    </div>
    <div class="item style_label">
      <div class="header">{% trans 'Tags' %}</div>
      {% for tag in service.tags.all %}
        <a class="ui red label">{{ tag.name }}</a>
      {% endfor %}
    </div>
    <div class="item">
      <div class="header">{% trans 'Content' %}</div>
      {{ service.content }}
    </div>
    <div class="item style_button">
      <a href="{% url 'profiles:service_edit' request.user.username service.id %}" class="ui brand_blue button"><i class="edit icon"></i>{% trans 'edit' %}</a>
      {% ifequal service.is_active True %}
          <a href="{% url 'profiles:service_edit' request.user.username service.id %}" class="ui green button"><i class="unlock icon"></i>{% trans 'active' %}</a>
      {% else %}
          <a href="{% url 'profiles:service_edit' request.user.username service.id %}" class="ui grey button"><i class="lock icon"></i>{% trans 'deactivate' %}</a>
      {% endifequal %}
      <a href="{% url 'profiles:service_remove' request.user.username service.id %}" class="ui red button"><i class="remove icon"></i>{% trans 'remove' %}</a>
    </div>
  </div>
</div>




