{% load i18n %}

<div class="ui blue padded segment service_show">
  <h3 class="ui center aligned header">{% trans 'Available services' %}</h3>

  <table class="ui striped table">
      <thead>
        <tr>
          <th>{% trans "Title" %}</th>
          <th>{% trans "Price" %}</th>
          <th>{% trans "Date of creation" %}</th>
          <th>{% trans "Active" %}</th>
          <th>{% trans "View" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for service in services %}
        <tr onclick="window.document.location='view/own/{{ service.id }}/';">
            <td>{{ service.title }}</td>
            <td>
              {{ service.get_currency_display }}
              {{ service.price|floatformat:"0" }}/
              {{ service.get_price_type_display }}
            </td>
            <td>{{ service.created_at|date:"Y-m-d H:i:s" }}</td>

            {% if service.status == 1 %}
                <td><span class="ui red label">{% trans 'Moderation' %}</span></td>

            {% elif service.status == 2 %}
                <td><span class="ui green label">{% trans 'Active' %}</span></td>

            {% elif service.status == 3 %}
                <td><span class="ui gray label">{% trans 'Not active' %}</span></td>
            {% else %}
                <td></td>
            {% endif %}

            <td>
                <a class="ui green label" href="view/own/{{ service.id }}/">
                  <i class="unhide icon"></i>view
                </a>
            </td>
        </tr>
        {% endfor %}
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            {% if show_add_service == True %}
            <a class="ui green label" href="add">
              <i class="edit icon"></i>{% trans 'add' %}
            </a>
            {% else %}
            <a class="ui green label disabled" href="">
              <i class="edit icon"></i>{% trans 'add' %}
            </a>
            {% endif %}
        </tr>
      </tbody>
    </table>
</div>
