{% load i18n %}

<div class="ui blue segment service_show">
  <h3 class="ui center aligned header">{% trans 'Available services' %}</h3>

  <table class="ui striped table">
      <thead>
        <tr>
          <th>{% trans "Title" %}</th>
          <th>{% trans "Price" %}</th>
          <th>{% trans "Date of creation" %}</th>
          <th>{% trans "Active" %}</th>
          <th>{% trans "View" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for service in services %}
        <tr onclick="window.document.location='edit/{{ service.id }}/';">
            <td>{{ service.title }}</td>
            <td>{{ service.price}}</td>
            <td>{{ service.created_at }}</td>

            {% ifequal service.is_active True %}
                <td><span class="ui green label">{{ service.is_active }}</span></td>
            {% else %}
                <td><span class="ui red label">{{ service.is_active }}</span></td>
            {% endifequal %}

            <td>
                <a class="ui green label" href="edit/{{ service.id }}/">
                  <i class="unhide icon"></i>view
                </a>
            </td>
        </tr>
        {% endfor %}
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <a class="ui green label" href="add">
              <i class="edit icon"></i>{% trans 'add' %}
            </a>
        </tr>
      </tbody>
    </table>
</div>
