{% extends "core/__global.html" %}
{% load render_bundle from webpack_loader %}

{% block stylesheets %}
    {% render_bundle 'services/service_one' 'css' %}
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
      $.ajaxSetup({
          data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
    </script>
    {% render_bundle 'services/service_one' 'js' %}
{% endblock %}

{% block content %}    
  <div class="ui grid container profile_content">
    <div class="mobile tablet only sixteen wide column">
      {% include "profiles/__profile_box.html" %}
      <br>
      {% include "services/__service_box.html" %}
      <br>
    </div>
    <div class="sixteen wide tablet eleven wide computer column">
      {% include "services/__service_description.html" %}
    </div>
    <div class="computer only five wide column">
        <div class="ui rail">
          <div class="ui sticky">
            {% include "profiles/__profile_box.html" %}
            {% include "profiles/__share_box.html" %} 
            {% include "services/__service_box.html" %}
          </div>
        </div>
      </div>
  </div>
{% endblock %}