{% load i18n %}

<div class="ui segment profiles_services">
  {% if view_own_profile %}
    <h3>{% trans 'My services' %}</h3>
  {% else %}
    <h3>{% trans 'Services' %}</h3>
  {% endif %}

  <div class="row">
    <h4> {{ service.title }}</h4>
    <h5>{% trans 'Rating: ' %}{{ service.rating|floatformat }}/5</h5>
    {% if request.user.is_authenticated %}
        <h5>€ {{ service.price }}</h5>
    {% else %}
        <h5>{% trans "Price: login required" %}</h5>
    {% endif %}
    <h5> {{ service.get_type_display }}</h5>

    <div class="ui padded grid">
      <div class="four wide column" style="min-width:120px;">
        <i class="marker icon"></i> {% trans 'cities' %}
      </div>
      <div class="twelve wide column" style="margin-bottom:-5px;">
        {% for city in service.cities.all %}
          <a class="ui brand_blue label" style="margin-bottom:5px;">{{ city.name }}</a>
        {% endfor %}
      </div>
      <div class="four wide column" style="min-width:120px;">
        <i class="folder icon"></i> {% trans 'categories' %}
      </div>
      <div class="twelve wide column" style="margin-bottom:-5px;">
        {% for category in service.categories.all %}
          <a class="ui green label" style="margin-bottom:5px;">{{ category.name }}</a>
        {% endfor %}
      </div>
      <div class="four wide column" style="min-width:120px;">
        <i class="flag icon"></i> {% trans 'languages' %}
      </div>
      <div class="twelve wide column" style="margin-bottom:-5px;">
        {% for language in service.languages.all %}
          <a class="ui yellow label" style="margin-bottom:5px;">{{ language.name }}</a>
        {% endfor %}
      </div>
      <div class="four wide column" style="min-width:120px;">
        <i class="tags icon"></i> {% trans 'tags' %}
      </div>
      <div class="twelve wide column" style="margin-bottom:-5px;">
        {% for tag in service.tags.all %}
          <a class="ui red label" style="margin-bottom:5px;">{{ tag.name }}</a>
        {% endfor %}
      </div>
    </div>
    <br>
    <p>{{ service.content|safe }}</p>
    <br>
    {% if request.user.is_authenticated %}
      {% if view_own_profile %}
        <a class="ui brand_blue right floated button" href="{% url 'profiles:service_edit' profile.user.username service.id %}"><b>{% trans 'Edit service' %}</b></a>
      {% else %}
        <a class="ui brand_blue right floated button" href="{% url 'profiles:booking_add' profile.user.username service.id %}"><b>{% trans 'Book me' %}</b></a>
      {% endif %}
    {% else %}
      <a class="ui brand_blue right floated button" href="{% url 'accounts:login' %}"><b>{% trans 'Log in to book' %}</b></a>
    {% endif %}

    <br>
    <br>
    <br>
    <br>

    {% if ratings|length != 0 %}
      <div class="row">
        <div class="ui comments">
          <h3 class="ui dividing header">{% trans "Comments" %}</h3>
          {% for rating in ratings %}
          <div class="comment">
            <a class="avatar">
              <img src="{{ rating.user.profile.get_avatar_url }}">
            </a>
            <div class="content">
              {% if request.user.username %}
                  <a class="author">{% trans 'User' %} {{ rating.user.username }}</a>
              {% else %}
                  <a class="author">{% trans 'Anonymous user' %}</a>
              {% endif %}
              <div class="metadata">
                <span class="date">{% trans 'Created at: ' %}{{ rating.created_at }}</span>
              </div>
              {{ rating.gen_stars }}
              <div class="text">{{ rating.comment }}</div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    <br>

    {% if form %}
      <div class='row'>
          <form method="post" class="ui form">
            {% csrf_token %}
            <div class="field">
              <div class="ui star rating" data-rating="0" data-max-rating="5"></div>
              {{form.comment}}
            </div>
            <div class="ui brand_blue labeled submit icon button"><i class="icon edit"></i> {% trans 'Send your comment' %}</div>
          </form>
      </div>
      <br>
    {% endif %}
  </div>
</div>
