{% load i18n %}

<div class="ui blue segment service_show">
  <h3 class="ui center aligned header">{% trans 'Service' %}</h3>

  <div class="ui four column grid  celled divided  doubling ">
    <div class="column"><b>{% trans 'Title' %}</b></div>
    <div class="column">{{ service.title }}</div>
    <div class="column"><b>{% trans 'content' %}</b></div>
    <div class="column">{{ service.content }}</div>
    <div class="column"><b>{% trans 'price' %}</b></div>
    <div class="column">{{ service.price }}</div>
    <div class="column"><b>{% trans 'type' %}</b></div>
    <div class="column">{{ service.type }}</div>
    <div class="column"><b>{% trans 'cities' %}</b></div>
    <div class="column">{{ service.cities }}</div>
    <div class="column"><b>{% trans 'categories' %}</b></div>
    <div class="column">{{ service.categories }}</div>
    <div class="column"><b>{% trans 'languages' %}</b></div>
    <div class="column">{{ service.languages }}</div>
    <div class="column"><b>{% trans 'tags' %}</b></div>
    <div class="column">{{ service.tags }}</div>

    <div class="one column row">
      <div class="column" style="width:100%!important;">
          
      </div>
    </div>
  </div>
</div>




