{% load i18n %}

{% if profile.settings.is_provider %}
<div class="ui padded segment">
  <h5 class="ui right floated header"><a class="ui red tag label">{{ service.get_currency_display }} {{ service.price }}</a></h5>
  <h2 class="ui center aligned header" style="color: #555555;font-weight: 300;margin-top:0px;">{{ service.title }}</h2>
  <p>{{ service.content|safe }}</p>
  <br>
  <br>
</div>
<div class="ui padded segment">
  <h3 style="color: #555555;font-weight: 300;">{% trans 'Rating and comment:' %}{{ ratings|length }}</h3>
  {% if ratings|length != 0 %}
      <div class="ui comments">
        {% for rating in ratings %}
        <div class="comment">
          <a class="avatar">
            <img src="{{ rating.user.profile.get_avatar_url }}">
          </a>
          <div class="content">
            {% if request.user.username %}
                <a class="author">{% trans 'User' %} {{ rating.user.username }}</a>
            {% else %}
                <a class="author">{% trans 'Anonymous user' %}</a>
            {% endif %}
            <div class="metadata">
              <span class="date">{% trans 'Created at: ' %}{{ rating.created_at|date:"Y-m-d H:i:s" }}</span>
            </div>
            {{ rating.gen_stars }}
            <div class="text">{{ rating.comment }}</div>
          </div>
        </div>
        {% endfor %}
      </div>
    {% endif %}

    {% if form %}
      <div class='row'>
        <form method="post" class="ui form">
          {% csrf_token %}
          <div class="field">
            <div class="ui star rating" data-rating="0" data-max-rating="5"></div>
            {{form.comment}}
          </div>
          <div class="ui brand_blue labeled submit icon button"><i class="icon edit"></i> {% trans 'Send your comment' %}</div>
        </form>
      </div>
      <br>
    {% endif %}
</div>
{% endif %}