{% load i18n %}

<div class="ui blue segment service_short_list">
  <h3>{% trans 'My services' %}</h3>

  <div class="ui divided items">
    <div class="item">
      <h4>{% trans 'Num of services' %} : {{ services|length }}</h4>
    </div>
    {% for service in services %}
      <div class="item">
        <div class="content">
          <a class="header" href="services/view/own/{{ service.id }}/">
            <i class="map marker icon"></i>{{ service.title }}         
            {% if service.status == 1 %}
              <span class="ui red label">{% trans 'Moderation' %}</span>
            {% elif service.status == 2 %}
              <span class="ui green label">{% trans 'Active' %}</span>
            {% elif service.status == 3 %}
              <span class="ui gray label">{% trans 'Not active' %}</span>
            {% else %}
              <span class="ui gray label">{% trans 'Not active' %}</span>      
            {% endif %}
          </a>
          <div class="meta">
            <span class="price"><i class="dollar icon"></i>{{ service.price }}</span>
            <span class="stay">{% trans 'one day' %}</span>
          </div>
          <div class="description">
            <p>{{ service.content|safe|truncatewords:"30" }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
</div>
