{% load i18n %}

<div class="ui segment profiles_services">
  {% if view_own_profile %}
    <h3>{% trans 'My services' %}</h3>
  {% else %}
    <h3>{% trans 'Services' %}</h3>
  {% endif %}

  {% for service in services %}
    <div class="row" onclick="window.document.location='services/view/{{ service.id }}/';">
      <h4> {{ service.title }}</h4>
      <h5>{% trans 'Rating: ' %}{{ service.rating|floatformat }}/5</h5>
      {% if request.user.is_authenticated %}
          <h5>€ {{ service.price }}</h5>
      {% else %}
          <h5>{% trans "Price: login required" %}</h5>
      {% endif %}
      <h5> {{ service.get_type_display }}</h5>

      <div class="ui padded grid">
        <div class="four wide column" style="min-width:120px;">
          <i class="marker icon"></i> {% trans 'cities' %}
        </div>
        <div class="twelve wide column" style="margin-bottom:-5px;">
          {% for city in service.cities.all %}
            <a class="ui brand_blue label" style="margin-bottom:5px;">{{ city.name }}</a>
          {% endfor %}
        </div>
        <div class="four wide column" style="min-width:120px;">
          <i class="folder icon"></i> {% trans 'category' %}
        </div>
        <div class="twelve wide column" style="margin-bottom:-5px;">
            <a class="ui green label" style="margin-bottom:5px;">{{ service.category.name }}</a>
        </div>
        <div class="four wide column" style="min-width:120px;">
          <i class="flag icon"></i> {% trans 'languages' %}
        </div>
        <div class="twelve wide column" style="margin-bottom:-5px;">
          {% for language in service.languages.all %}
            <a class="ui yellow label" style="margin-bottom:5px;">{{ language.name }}</a>
          {% endfor %}
        </div>
        <div class="four wide column" style="min-width:120px;">
          <i class="tags icon"></i> {% trans 'tags' %}
        </div>
        <div class="twelve wide column" style="margin-bottom:-5px;">
          {% for tag in service.tags.all %}
            <a class="ui red label" style="margin-bottom:5px;">{{ tag.name }}</a>
          {% endfor %}
        </div>
      </div>

      <p>{{ service.content|safe|truncatewords:"150" }}</p>

      {% if request.user.is_authenticated %}
        {% if view_own_profile %}
          <a class="ui brand_blue right floated button" href="{% url 'profiles:service_edit' profile.user.username service.id %}"><b>{% trans 'Edit service' %}</b></a>
        {% else %}
          <a class="ui brand_blue right floated button" href="{% url 'profiles:booking_add' profile.user.username service.id %}"><b>{% trans 'Book me' %}</b></a>
        {% endif %}
      {% else %}
        <a class="ui brand_blue right floated button" href="{% url 'accounts:login' %}"><b>{% trans 'Log in to book' %}</b></a>
      {% endif %}

      </br>
      </br>
      </br>
    </div>
    <br>  
  {% endfor %}
</div>

