{% load i18n %}

{% if profile.settings.is_provider %}
<div class="ui blue segment all_services">
  <h3>{% trans 'All services' %}</h3>

  <div class="ui divided items">
    <div class="item">
      <h4>Overall rating: {{ services_rating|floatformat }}/5</h4>
    </div>
    <div class="item">
      <div class="content">
        <p><strong><i class="marker icon"></i>{% trans 'cities' %}</strong></p> 
        {% for city in unique_cities %}
          <a class="ui brand_blue label">{{ city.name }}</a>
        {% endfor %}
      </div>
    </div>
    <div class="item">
      <div class="content">
        <p><strong><i class="folder icon"></i> {% trans 'categories' %}</strong></p>
        {% for category in unique_categories %}
          <a class="ui green label">{{ category.name }}</a>
        {% endfor %}
      </div>
    </div>
    <div class="item">
      <div class="content">
        <p><strong><i class="flag icon"></i> {% trans 'languages' %}</strong></p>
        {% for language in unique_languages %}
          <a class="ui yellow label">{{ language.name }}</a>
        {% endfor %}
      </div>
    </div>
    <div class="item">
      <div class="content">
        <p><strong><i class="tags icon"></i> {% trans 'tags' %}</strong></p>
        {% for tag in unique_tags %}
          <a class="ui red label">{{ tag.name }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
  
</div>
{% endif %}